<topbar [assessmentId]="assessmentId"
              [pageName]="pageName">
</topbar>

<ion-content padding>
	<report-info-card [assessmentId]="assessmentId"></report-info-card>

	<div class="toolbar">
		<button ion-button (click)="saveXLS()">Export to XLSX</button>
	</div>


	<div *ngIf="skipped && skipped.length == 0">
		<p>You have no skipped questions</p>
	</div>

  <div *ngFor="let subThread of subThreads">
    <hr>
			{{subThread}}
    <hr>
		<div *ngFor="let q of filterBySubThread(subThread)" class="questions">
		<p style="width: 20%;">Level {{q.mrLevel}}</p>

       <p (click)="goToQuestion(q.questionId)" style="color:blue;cursor: pointer;">{{q.questionText}}</p>
			</div>
  </div>

	<div class="qspacer"></div>
</ion-content>
