question-history-popover {
  .wrapper {
    width: 100%;
    margin: 0 auto;

    .header {
      width: 100%;
      background-color: darkslateblue;
      margin: 0;


      h2{
        color: white;
        padding: 25px 20px;
        margin: 0;
      }
    }

    .answers-list {
      width: 100%;
      margin: 5px 0;
      // border: 1px solid black;

        .top-and-block {
          width: 100%;
          .top {
            width: 100%;
            border: 1px solid black;

            h3 {
              padding-left: 10px;
            }

          }

          .block {
            width: 100%;
            background-color: #e3e3e3;
            margin: 5px 0;
            padding: 5px;

            .fields {
              width: 60%;

              // border: 1px solid black;
              padding: 3px;
              display: inline-block;
            }

            .action-buttons {
              width: 35%;
              padding: 3px;
              display: inline-block;
              float: right;
              padding-left: 20px;
              text-align: center;
              margin-right: 10px;
              margin-top: 15px;

            }
          }
        }
    }
  }

  @media screen and (max-width: 1024px){
    .wrapper {
      .header {

      }

      .answers-list {
        .top-and-block {
          .top {


            h3 {
              font-size: 1.5em;
            }
          }

          .block {
            .fields {

            }

            .action-buttons {
              width: 40%;
              margin: 0;
              // float: left;

              button {
                width: 100%;
                font-size: small;
              }
            }
          }
        }
      }


    }
  }


}
