<!-- Generated template for the QuestionHistoryPopoverComponent component -->
<div class="wrapper">
  <div class="header">
    <h2>This Question's History:</h2>
  </div>
  <div class="answers-list">
    <div class="top-and-block" *ngFor="let answer of answersSorted" >
      <ng-container *ngIf="answer.answer != 'skipped'">
      <div class="top" (click)="toggleAnswer(answer.updatedAt)">
        <h3>{{answer.answer}} | <span><small>Answered On: {{answer.updatedAt | date:'medium'}} | <u>Open</u></small></span></h3>
      </div>
      <div class="block" *ngIf="answerToShow == answer.updatedAt">
          <div class="fields">
            <ng-container *ngIf="answer.answer == 'Yes' ">
              <p><b>Answer:</b> {{answer.answer}}</p>
              <p><b>Objective Evidence:</b> {{answer.objectiveEvidence}}</p>
              <p><b>Assumptions:</b> {{answer.assumptionsYes}}</p>
              <p><b>Notes:</b> {{answer.notesYes}}</p>
            </ng-container>
            <ng-container *ngIf="answer.answer == 'No' ">
              <p><b>Answer:</b> {{answer.answer}}</p>
              <p><b>Who:</b> {{answer.who}}</p>
              <p><b>When:</b> {{answer.when}}</p>
              <p><b>Risk:</b> {{answer.risk}}</p>
              <p><b>What:</b> {{answer.what}}</p>
              <p><b>Reason:</b> {{answer.reason}}</p>
              <p><b>Assumptions:</b> {{answer.assumptionsNo}}</p>
              <p><b>Notes:</b> {{answer.notesNo}}</p>
            </ng-container>
            <ng-container *ngIf="answer.answer == 'N/A' ">
              <p><b>Answer:</b> {{answer.answer}}</p>
              <p><b>Documentation:</b> {{answer.documentation}}</p>
              <p><b>Assumptions:</b> {{answer.assumptionsNA}}</p>
              <p><b>Notes:</b> {{answer.notesNA}}</p>
            </ng-container>
            <p><b>User Who Answered:</b> {{emails[answer.userId]}}</p>
            <p><b>Answered At:</b> {{answer.updatedAt | date:'medium'}}</p>
          </div>
          <div class="action-buttons">
              <button ion-button color="darkslateblue">Revert Back</button>
          </div>
      </div>
      </ng-container>
    </div>
  </div>
</div>
