<ion-content>
  <div class="wrapper">
    <div class="header">
      <h1>This Question's History:</h1>
    </div>
    <div class="list">
      <div class="accordion-header">
        <h3><b>Yes</b> <small> | Answered On: 11/30/2018 | <span> Open</span></small></h3>
      </div>
      <div class="accordion-details">
        <div class="text">
          <p><b>Answer:</b> Yes</p>
          <p><b>Objective Evidence:</b> objective evidence</p>
          <p><b>Assumptions: </b> assumptions</p>
          <p><b>Notes:</b> notes!!</p>
          <p><b>User Who Answered This: </b> hello@ekta.co</p>
          <p><b>Date of Answer: </b>11/30/18</p>
        </div>
        <div class="action-buttons">
          <button ion-button>Revert Back</button>
        </div>
      </div>
      <div class="accordion-header">
        <h3><b>No</b> <small> | Answered On: 11/19/2018 | <span> Open</span></small></h3>
      </div>
      <div class="accordion-details">
        <div class="text">
          <p><b>Answer: </b>No</p>
          <p><b>Who: </b>person</p>
          <p><b>When: </b>date</p>
          <p><b>Risk:</b>Technical</p>
          <p><b>What: </b>what</p>
          <p><b>Reason: </b>reason</p>
          <p><b>Assumptions: </b>assumption</p>
          <p><b>Notes: </b>note</p>
          <p><b>User Who Answered This: </b>hello@ekta.co</p>
          <p><b>Date of Answer: </b>11/19/18</p>
        </div>
        <div class="action-buttons">
          <button ion-button>Revert Back</button>
        </div>
      </div>
      <div class="accordion-header">
        <h3><b>N/A</b> <small> | Answered On: 11/01/2018 | <span> Open</span></small></h3>
      </div>
      <div class="accordion-details">
        <div class="text">
          <p><b>Answer:</b> Yes</p>
          <p><b>Documentation:</b> documentation</p>
          <p><b>Assumptions: </b> assumptions</p>
          <p><b>Notes:</b> notes!!</p>
          <p><b>User Who Answered This: </b> hello@ekta.co</p>
          <p><b>Date of Answer: </b>11/01/18</p>
        </div>
        <div class="action-buttons">
          <button ion-button>Revert Back</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
