ion-content {
  margin-top : 120px;
}

.wrapper {
  width      : 100%;
  margin-top : 0px;
  // padding    : 20px;
  // border: 1px solid black;

  .card-wrapper {
    background-color: #F5F5F5;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .thread-object {
    // border: 1px solid red;
    padding : 10px;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 20px;

    h2,
    h4,
    h6,
    p {
      margin-top    : 0;
      margin-bottom : 0;
    }

    p {
      margin-top : 2px;
      font-size  : 14.5px;
    }

    .subthread {
      // border: 1px solid green;
      margin-bottom: 20px;
      .questions-wrapper {
        // border: 1px solid blue;
        margin  : 2px;
        padding : 2px;
        margin-left: 15px;

        .question {
          // border: 1px solid purple;
          margin  : 2px;
          padding : 2px;
          margin-left: 15px;

          .extra-risk {
            margin  : 2px;
            padding : 2px 2px 2px 15px;
            // border: 1px solid lightblue;
          }
        }
      }
    }
  }
}
.question {
  margin-left: 20px;
  margin-bottom: 10px;
  color: black;
  padding-right: 5px;
}

.extra-risk {
  margin-left: 30px;
}

.extraspace {
  flex-grow: 1;
}

.filter-toolbar {
    list-style-type: none;
    height: 70px;
    // background-color: blue;
    // position: absolute;
    // top: 150px;
    // left: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    z-index: 9999;
    padding-left: 20px;
    padding-top: 15px;
    border-bottom: .5px solid lightgray;

    button {
        // display: inline-block;
        width: 20%;
    }

    .filter-list {
        width: 60%;
        float: right;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;

         p {
            // width: 10%;
            width: fit-content;
            // margin-left: 10px;
            padding-right: 10px;
            margin: 0;
        }
        select {
            width: 20%;
            // vertical-align: middle;
            margin: 0 5px;
        }


        .filter-buttons {
            margin: 0 5px;
            // width: 10%;
            width: 15%;
            // vertical-align: middle;
        }

     }

    }


.qspacer {
  width       : 100%;
  height      : 250px;
  border      : 0px;
  font-size   : 0;
  line-height : 0;
  /* testing only */
  // border: 1px solid red;
}

.risk-header {
  width : 100%;

  h2 {
    text-align      : center;
    text-decoration : underline;
    // border: 1px solid black;
  }
}

@media
  screen
  and (max-width : 1024px) {
  .export-toolbar {
    display : none;
  }
  .wrapper {
    .thread-object {
      width: 95%;
    }
  }
  .extraspace {
    visibility: hidden;
  }
  .filter-toolbar {
    flex-wrap: wrap;
    padding-left: 5px;
    height: auto;
    float: none;
    .extraspace {
      visibility: hidden;
    }
    .button {
      width: 100%;
    }
    .filter-list{
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      p {
       margin: 5px 0;
        width: 50%;
      }
      select {
        margin: 5px;
        width: 40%;
      }
      .filter-buttons {
        margin: 5px;
        width: 45%;
      }
    }
  }
}

@media
  screen
  and (min-width : 420px)
  and (max-width : 1024px) {
  ion-content {
    margin-top : 150px;
  }
}
