page-login {
  background-color: white;
  #public-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
  }

  #public-topbar {
    display: flex;
//    background: #000000;
    height: 75px;
    width: 100%;
    #right {
            background: black;
            width: 100%;
    }
    img {
      height: 75px;
      max-width: inherit;
    }
  }

  #public-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }

  #login-container {
  }

  .qspacer {
    font-size: 0;
    height: 250px;
    line-height: 0;
    border: 0px;
    /* testing only */
     // border: 1px solid red;
     width: 100%;
  }

}
