page-login {
  #public-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  #public-topbar {
    display: flex;
    background: #000000;
    height: 75px;
    width: 100%;
  }

  #public-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }

  #login-container {
  }

}
