<div class="popupbox">
  <h4>Navigate around the assessment.</h4>

<ng-container *ngFor="let thread of schema">
  <div class="header">
  <p (click)="changeState(thread)">{{thread.header}}</p>
  <ion-icon name="arrow-dropdown" class="arrow" *ngIf="!thread.open"></ion-icon>
  <ion-icon name="arrow-dropup" class="arrow" *ngIf="thread.open"></ion-icon>
  </div>
  <ng-container *ngIf="thread.open">
    <div *ngFor="let subthread of thread.subheader">
      <div class="subheader">
        <p  (click)="navToQuestionFromSchema(subthread.questions)">{{subthread.subheader}}</p>
        <ion-icon name="arrow-dropright" class="arrow"></ion-icon>
      </div>
    </div>
  </ng-container>
</ng-container>

</div>
