
  ion-content{
    margin-top: 220px;
  }
  $input-backgroud:#fbfbfb; $input-border:#dcdcdc;


$basic-cell-size: 4vw;

%input-style{
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: 1.42857;
    font-size: 14px;
    padding: 6px 12px;
    background-color:$input-backgroud;
    border-color: $input-border;
}

ion-toolbar.toolbar-title-default {
  margin-top: 30px; 
  
}

div.attachments-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

div.attachments-table {
  display: flex;
  justify-content: center;

}

div.attachments-header {
  font-weight: 600;
  width: 100%; 
  text-align: center;

}

div.file {
  display: flex;
  flex-direction: column;
  
}

div.file-item {
  display: flex;
}


ion-col.file-name-label {
  text-align: center; 
}


table {
  width: 100%;
  // margin: 20px auto;
  table-layout: auto;
}

ion-label.file-name-label {
  display: flex;
  justify-content: flex-start;
}

ion-label.delete-label {
  float: right; 
  // display: flex;
  // justify-content: flex-end;
}

ion-row.md.hydrated {
  align-items: center; 
}

div.file-item:nth-child(odd) {
  background: #ccc;
  // display: flex;
  // justify-content: space-around;
}

div.file-item:nth-child(even) {
  background: #fff; 
  // display: flex;
  // justify-content: space-between;
}

div.delete-icon {
  display: flex;
}

ion-row.delete-icon > .icon {
  display: flex;
  // justify-content: flex-end;
  align-content: flex-end;
}

ion-icon.md {
  display: flex;
}

.odd{
  background: #ccc;
  display: flex;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
}

.even{
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 4em;
  padding-right: 4em;
  
}

.file-link {
  &:hover {
    text-decoration: underline;
  }
  margin-bottom: 0;
  margin-right: 1em;
}

.risk select {
    @extend %input-style;
    height: 40px;
    width: 9vw;
}

.matrix-top-wrapper {
        display: flex;
}

.matrix-bottom-wrapper {
        display: flex;
        width: 100%;
        // easiest way to offset bottom div by size of y-axis label and arrow
        padding-left: 4em;
        justify-content: flex-end;
}

.main-wrapper {
  display: flex;
  width: 100%;
  flex-wrap:wrap;

  // margin-top: 20px;
}

.x-axis-wrapper {
}

.x-axis-label-wrapper {
        width: 5* $basic-cell-size;
        display:flex;
        justify-content: center;
}

.x-axis-arrow-wrapper {
        width: 100%;
        margin-top: 1em;
        height: 2em;
}

.y-axis-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
}

.y-axis-label {
        width: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
          transform: rotate(-90deg);
          height: 1em;
        }
}

$arrow-width: 1em;
.y-axis-arrow-wrapper {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: flex-start;
        width: 2em;
        height: 5 * $basic-cell-size;
        margin-right: 1em;
}

.y-axis-arrow-body {
        background: black;
        width: .75em;
        height: 96%;
}

.y-axis-arrow-head-wrapper {
        width: 100%;
        height: $arrow-width;
}

.y-axis-arrow-head {
  width: 0;
  height: 0;
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;
  border-bottom: $arrow-width solid black;

}

.x-axis-arrow-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items:center;
        justify-content: flex-start;
        height: 2em;
        width: 5 * $basic-cell-size;
        margin-right: 1em;
}

.x-axis-arrow-body {
        background: black;
        height: .75em;
        width: 96%;
}

.x-axis-arrow-head-wrapper {
        height: 2em;
}

.x-axis-arrow-head {
  width: 0;
  height: 0;
  border-top: $arrow-width solid transparent;
  border-bottom: $arrow-width solid transparent;
  border-left: $arrow-width solid black;
}


%down-arrow{
    background-position: right 50%;
    background-repeat: no-repeat;
    // background-image:url('../../assets/imgs/if_icon-arrow-down.png');
    padding: .5em;
    padding-right: 1.5em;
}
.toolbar-class{
    header{
        color:#000;
    }
    img{
        margin-left: 10px;
        margin-top: 10px
    }
    p{
        visibility: visible !important;
    }
    hr {
        height: 1px !important;
        width: 98% !important;
        background:grey!important;
        display: block !important;
        font-size: 2em !important;
        visibility: visible !important;
    }
}
.subheader{
    display: flex;
    justify-content: space-between;
    color:white;
    margin-left:13px;
}
.nav{
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-bottom: 10px;

    .help-button {
      width: 98%;
      margin-left: 0;
    }
}
.choose-one{
    width: 48%;
    padding: 10px 0px 30px 0px;
    select{
        @extend %input-style;
        @extend %down-arrow;
        -webkit-appearance: none;
    }
}
.yes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    textarea{
        @extend %input-style;
        resize:none;
        // width: 48%;
    }
    textarea:focus {
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
}
.no{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    ion-icon{
        font-size:20px;
    }

    h3 {
        margin-top: 30px;
    }

    input{
        @extend %input-style;
        width: 100%;
        height: 100%;
    }
    textarea{
        @extend %input-style;
        resize:none;
        height:100%;
    //        width: 48%;
    }
    textarea:focus {
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
    .who-when{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        // width:48%;
        height: 100%;
        list-style-type: none;
        // margin-left: -10px;

        .who {
            display: flex;
            flex-direction: column;

            #no-who-input {
                width: 150%;
                height: 40px;
            }
        }

        .when {
            display: flex;
            flex-direction: column;

            #no-when-input {
                height: 40px;
                // padding: 15px;
            }
        }


    }

    .what {
        margin-top: 10px;
    }

    .reason {
        margin-top: 10px;
    }

    .no-assumptions{
        margin-top: 10px;
    }

    .no-notes {
        margin-top: 10px;
    }



    .up-btn{
        width:10%;
    }
}
.na{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    textarea{
        @extend %input-style;
        resize:none;
//        width: 48%;
    }
    textarea:focus {
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
}
// .risk{
//     display: flex;
// 		align-items: center;
//     width: 25%;
//     margin:20px;
// 		.label {
// 			text-align: right;
//
// 		}
// }
.questions{
    input{
        margin:10px 0px 0px 0px;
        @extend %input-style
    }
}
.default{
    height:20%;
    width: 48%;
    textarea{
        @extend %input-style;
        resize: none;
    }
}
  .qspacer {
    font-size: 0;
    height: 220px;
    line-height: 0;
    border: 0px;
    /* testing only */
     // border: 1px solid red;
     width: 100%;
  }

.helpButton{
    // display: flex;
    width: 70%;
    // min-width: 100px;
    // max-width: 300px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.q-answer {
    width: 98%;
    margin-bottom: 0px;
    height: 35px;
}


.helpTextDiv {
    // display: flex;
    background-color: #ededed;
    width: 98%;
    height: auto;
    margin: 3px;
    // margin-top: 1px;

    p {
        padding: 10px;
    }
    .acronymHere {
        color: #305194;
        &:hover {
          // text-decoration: underline;
          font-style: italic;
          // border: .5px solid #305194;
          // padding: 1px;
        }
    }

  }

  .nav-q-buttons {
    // display: flex;
    // margin: 0;
    position: absolute;
    right: 10px;
    // top: 220px;
    margin-top: 10px;
    -webkit-transform: translateZ(0);
    // background-color: white;
    z-index: 100000;

  }

  .bottom-q-buttons {
    // display: none;
    position: absolute;
    right: 10px;
    bottom: -100px;

  }




  .guiding-text {
      -ms-flex: 1;
      flex:1;
      display:flex;
      flex-direction:column;
      // height: 30px;
  }

  .full-fields-wrapper {
      width: 100%;
      display: inline-block;
      // border: 1px solid green;
      padding: 5px;
      // margin-left: 20px;


      .fields-wrapper-2 {
          width: 100%;
          display:flex;
          flex-direction:column;
      }
  }

  .page-wrapper {
      width: 45%;
      height: 100vh;
      // border: 1px solid red;
      select{
          margin-bottom: 10px;
          width:100%;
          @extend %input-style;
          @extend %down-arrow;
          -webkit-appearance: none;
      }
  }

  .display-files{

        margin-top:20px;
      .attach {
          width:50%;
          margin:10px 0px 0px 0px;
      }
  }

.risk-wrapper {

    width: 50%;
    // border: 1px solid blue;
    display: inline-block;
    padding: 5px;
    float: right;
    margin-top: 75px;
    margin-left: 15px;
    // position: fixed;
    // margin-right: 60px;
    .risk {
      width: 100%;
      display:flex;
      justify-content: space-between;
      align-items: flex-start;

      .dev-border {
          width: 50%;

          h5 {
              padding: 0 1vw;
          }

          .likelihood-wrapper {
              display: flex;
              justify-content: space-between;
              padding: 0 1vw;
          }
      }

      .risk-part-2-wrapper {
        .risk-part-2{
          display: flex;
          justify-content: space-between;
          padding: 0 1vw;

          .greatest-impact {
            display: flex;
            flex-direction: column;
          }

          .risk-response {
            display: flex;
            flex-direction: column;
          }
        }

        .mmp-summary {
          margin-left: 1vw;
          height: 200px;
          width: 95%;
        }
      }

      .matrix-wrapper {
          display: flex;
          flex-direction: column;
          align-items:center;
          justify-content: center;
          width: 25vw;
          height: 25vw;
      }
    }
}

.mobile {
  display: none !important;
}





  @media screen and (max-width: 1024px){
    ion-content {
        margin-top: 200px;
        // margin-bottom: 300px;

    }

    .desktop {
      display: none !important;
    }

    .mobile {
      display: inherit !important;
    }

    .nav {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        .nav-q-buttons {
        // position: absolute;
        // top: -60px;
        // left: 10px;

        position: static;
        right: 0;
        top: 0;
        width: 95%;
        margin: 10px auto;
        padding-left: 10px;
        // display: flex;
        // flex-direction: column;
        margin-bottom: 15px;
        // margin-left: 10px;


        button {
            width: 30%;
        }

        }

        .guiding-text {
            display: block;

            button {
                width: 98%;
            }
        }
    }

    .bottom-q-buttons {
      display: inherit;
      position: static;
      right: 0;
      bottom: 0;
      width: 95%;
      margin: 0 auto;
      padding-left: 20px;
      // display: flex;
      // flex-direction: column;
      margin-bottom: 15px;
      button {
          width: 30%;
      }
    }

    .yes {
        width: 100%;
        h6, textarea {
            width: 100%;

        }
    }

    .no {
        width: 100%;
        height: 100%;
        // margin-bottom: 200px;
        // margin-bottom: 30px;

        h6, textarea {
            width: 100%;
            padding: 4px;
        }

        textarea {
            padding: 5px 5px 80px 2px ;
        }

            .who-when{
                width: 100%;
                // margin: 5px;
                margin-top: 0px;
                .who {
                    display: block !important;
                    padding: 10px;
                    width: 100%;

                    input {
                        width: 100% !important;
                        padding: 20px;
                    }
                }

                .when {
                    display: block !important ;
                    padding: 10px;
                    width: 100%;

                    input {
                        width: 100% !important;
                        // padding: 20px;
                        height: 40px;
                    }

                }
            }

            .what {
                margin-top: 20px;
            }



    }

    .na {
        width: 100%;

        h6, textarea {
            width: 100%;
        }
    }


        .full-fields-wrapper {
            display: flex;
            width: 100%;
            justify-content: center;

            .fields-wrapper-2 {
                width: 100%;
                margin: 0 auto;
                display: flex;
            }
        }




    .display-files {
        width: 100%;
        display: block;
    }

    .attach {
        // margin-bottom: 100px !important;
    }

    .qspacer {
        background-color: transparent;
        height: 200px;

    }



    .page-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            height: auto;

    }

    .full-fields-wrapper {
            flex-direction: column;
    }

    //  a more specific rule eg. .risk-wrapper .risk .dev-border was overriding the media query
  .risk-wrapper {
  display: flex;
  width: 90vw;
  margin-top: 10px;
  margin-left: 5px;

  .risk {
    width: 100%;

    .dev-border {
      width: 100%;

      .likelihood, .consequence {
        width: 45%;

        select {
          width: 100%;
        }
      }

    }

    .matrix-wrapper {
      width: 100%;
      height: auto;
      display: block;
      margin: 7px 0;

      table {
        float: none;
        width: 90%;
        height: 300px;
        margin: 0 auto;

      }
    }

    .risk-part-2-wrapper {
        width: 100%;
        margin-top: 20px;

        .risk-part-2 {

          .greatest-impact, .risk-response {
            width: 45%;

            select {
              width: 100%;
            }

          }
        }

        .mmp-summary {
          height: 200px;
        }
    }
  }
}

.x-axis-wrapper {
  width: 100%;
}

.x-axis-arrow-wrapper{
  width: 100%;
}

.x-axis-label-wrapper {
  width: 100%;
}

.y-axis-wrapper {
  height: 300px;
}

.y-axis-label {
  height: 300px;
}

.y-axis-arrow-wrapper {
  height: 300px;
}









}

@media screen and (min-width: 421px) and (max-width: 1024px){
    ion-content {
        margin-top: 230px;
    }

    .risk-wrapper {
      .risk {
        .matrix-wrapper {
          table {
            width: 80%;
            height: 500px;
          }
        }
      }
    }

    .x-axis-arrow-wrapper {
      height: 5em;
    }

    .y-axis-wrapper {
      height: 500px;
    }

    .y-axis-label {
      height: 500px;
    }

    .y-axis-arrow-wrapper {
      height: 500px;
    }
}


	$basic-cell-size: 4vw;
	%digit-cell{
    text-align: center;
    background-clip: padding-box;
		width: $basic-cell-size;
    height: $basic-cell-size;
		border: solid black 2px;
    filter: brightness(120%);
	}

	.low-risk-cell{
		background-color: green;
		@extend %digit-cell;
	}
	.med-risk-cell{
		background-color: yellow;
		@extend %digit-cell;
	}
	.high-risk-cell{
		background-color: red;
		@extend %digit-cell;
	}

  .selected {
    // border: 7px solid black;
    font-size: 1.8em;
    filter: brightness(75%);
  }

  .file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      margin-right: 1em;
    }
  }
