<div style="display:flex;flex-direction:column;background-color:black">
		
  <button [navPush]="homePage" ion-button color="dark">
    Home	
  </button>
  <button ion-button color="dark">
    Open
  </button>
  <button ion-button color="dark">
    Continue
  </button>
  <button ion-button color="dark">
    Save
  </button>
  <hr>
  <button (click)="handleDashboard()" ion-button color="dark">
    Dashboard
  </button>
  <button (click)="handleNavigate()" ion-button color="dark">
    Navigate
  </button>
  <button (click)="handleReview()" ion-button color="dark">
    Review
  </button>
  <hr>
  <button (click)="handleActions()" ion-button color="dark">
    Action Items
  </button>
  <button (click)="handleSkipped()"  ion-button color="dark">
    Skipped Questions
  </button>
  <button (click)="handleNa()" ion-button color="dark">
    N/A Questions
  </button>
</div>
