<div class="wrapper">

  <!-- <button (click)="handleNewAssessment()" ion-button color="dark">Start New Assessment</button>
  <ng-container *ngIf="assessmentId">
		<button (click)="handleContinue()" ion-button color="dark" id="continue-assessment-button">
			Continue Assessment
		</button>
		<button (click)="handleSave()" ion-button color="dark" class="export-import" id="export-button">
			Export
		</button>
	</ng-container >
	<button (click)="handleImport()" ion-button color="dark" class="export-import" id="import-button">
		Import Assessment
	</button> -->
	<ng-container *ngIf="assessmentId">
	<!-- We're auto-saving on updates now.
  <button ion-button color="dark">
    Continue
  </button>
	 Can leave this for when/if we output to a desktop format.
  <button ion-button color="dark">
    Save
  </button>
	-->
  <!-- <hr> -->
  <button (click)="handleDashboard()" ion-button color="dark" id="dashboard-button">
    Dashboard
  </button>
  <button (click)="handleNavigate()" ion-button color="dark" id="navigate-button">
    Questions List
  </button>
  <button (click)="handleReview()" ion-button color="dark" id="review-button">
    Review
  </button>

  <button (click)="handleActions()" ion-button color="dark" id="action-items-button">
    Action Items
  </button>
  <button (click)="handleSkipped()"  ion-button color="dark" id="skipped-questions-button">
    Skipped Questions
  </button>
  <button (click)="handleSummary()" ion-button color="dark" id="na-questions-button">
    MRL Summary
  </button>


	</ng-container>
</div>
