<div class="wrap">
  <div class="only-scope">
    <p *ngIf="scope"><b>Additional Information: </b>{{scope}}</p>
    <p *ngIf="!scope"><b>Additional Information: </b>No additional information</p>
  </div>

  <div class="assessment-info">
    <p><b>Target MRL: </b>{{targetMRL}}</p>
    <p><b>Target Date: </b>{{targetDate | date: mediumDate}}</p>
    <p *ngIf="scope"><b>Additional Information: </b>{{scope}}</p>
    <p *ngIf="!scope"><b>Additional Information: </b>No additional information</p>
  </div>
</div>
