<div class="upload-popover">
  <ion-header>
    <ion-toolbar [color]="copyFile ? 'secondary' : 'primary'">
      <ion-buttons slot="start" *ngIf="folder != ''">
        <ion-back-button></ion-back-button>
      </ion-buttons>

      <ion-title>
        {{ file || "File Explorer" }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form>
      <div style="display: flex; flex-direction: column">
      <ng-container *ngIf="!file">
     <label for="asdf" >
        <ion-fab-button >
          <ion-text>
            Add
          </ion-text>
        </ion-fab-button>
      </label>
      
      </ng-container>
      <ng-container *ngIf="file">
      <label color="buttonBlue" for="asdf" class="custom-file-upload">
          Select Different File
      </label>
      </ng-container>
        <input id="asdf" type="file" (change)="test($event)" placeholder="Choose File">
        <p *ngIf="file">filename:  {{file.name}}</p>
        <p *ngIf="file">size:  {{file.size}}</p>
        <p *ngIf="file">last modified:  {{file.lastModified}}</p>
        <ion-button *ngIf="file" color="buttonBlue"(click)="uploadFile($event)" type="submit">Upload</ion-button>
      </div>
        </form>
  </ion-content>
</div>
