page-user-dashboard {


  .first-bar {
    width: 100%;
    background-color: black;
    // margin-top: 100px;
    // padding: 20px 20px 5px 20px;
    margin: 83px auto 0 auto;
    display: flex;
    position: relative;
    min-height: 100px;
    border-top: .5px solid lightgray;



    .user-info{
      margin-left: 50px;
      width: 50%;
      padding-left: 40px;
      h1 {
        display: inline-block;
        width: 20%;
        position: absolute;
        top: 0px;
        left: 20px;
        color: white;
        font-size: 2.5em;


      }


      .info {
        display: inline-block;
        // width: 70%;
        color: white;
        position: absolute;
        bottom: 0px;
        left: 20px;

        p {
          display: inline-block;
          // width: 25%;
        }

      }
    }


    .buttons {
      position: absolute;
      right: 10px;
      top: 10px;

      button {
        margin: 3px;
      }
    }
  }



.accordion-tab {
  width: 97.5%;
  height: 40px;
  padding: 10px 0;
  padding-left: 10px;
  background: white;
  margin: 6px;
  vertical-align: middle;

}

.metrics {
  background-color: #ebebeb;
  p {
    text-align: center;
    margin: 0 auto;
  }
}

  .assessment-boxes {
    width: 98%;
    position: absolute;
    top: 250px;
    left: 40px;
    vertical-align: top;

  }



  .assessments {
    width: 40%;
    vertical-align: top;
    background-color: #EBEBEB;
    // display: flex;

    margin: 0px 20px 0px 50px;
    display: inline-block;
    min-height: 250px;


    }

    .box-title {
      width: 100%;
      display: block;
      padding: 2px;
      background-color: darkslateblue;
      h3 {
        text-align: center;
        color: white;
      }

        // text-decoration: underline;
      }


    .an-assessment {
      display: block;
      width: 97.5%;
      margin: 6px;
      // background-color: white;
      // border-top: 1px solid white;
      // border-bottom: 1px solid white;

      .details {
        width: 40%;
        display: inline-block;
        padding: 10px;

      }

      .assNav {
        width: 40%;
        display: inline-block;
        float: right;
        padding-left: 20px;
        text-align: center;
        margin-right: 10px;
        margin-top: 15px;


        button {
          display: block;
          // margin: 5px;
          font-size: 16px;
          background-color: darkslateblue;
          color: white;
          float: center;
          padding: 10px;
          margin: 5px auto;
          text-transform: uppercase;
          font-size: .9em;
          font-weight: bold;
          width: 70%;
          border-radius: 2px;

        }
      }
    }



  .mobile-to-start, .mobile-to-reports {
    display: none;
  }

  .mobile {
    display: none;
  }





  // @media screen and (max-width: 800px){
  //   .assessment-boxes {
  //     width: 90%;
  //     left: 0;
  //
  //   }
  //
  //   .assessments {
  //     width: 100%;
  //     margin: 0 10px 0 40px;
  //     margin-bottom: 20px;
  //
  //   }
  // }

  @media screen and (max-width: 1024px){

    ion-content {
      margin-top: 100px;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: inherit;
    }



    .assessment-boxes {
      position: inherit;
      width: 100%;
      // right: 10px;
      // margin: 0;
    }

    .mobile-wrapper {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-direction: column;
      margin-top: 50px;
      width: 100%;

      // .div {
      //   margin: 10px;
      // }
    }

    .mobile-to-start, .mobile-to-reports {
      display: inherit;
      width: 100%;
      vertical-align: top;

      margin: 10px 0;



    }



    // .small-assessments {
    //   display: none;
    // }

    // .first-bar{
    //   margin: 60px auto 0 auto;
    //   border-top: 1px solid gray;
    //
    //   .buttons {
    //     display: none;
    //   }
    // }

    .first-bar {
      display: none;
    }

    .assessments {
      width: 100%;
      margin: 10px 0;
      min-height: 0;

      .accordion-tab {
        margin: 4.5px;
        margin-bottom: 10px;
      }

      .an-assessment{
        margin: 4.5px;
        margin-bottom: 10px;
        .assNav{
          width: 55%;

          button {
            width: 90%;
            h3 {
              font-size: 9px;
            }
          }
        }
      }

    }

    .box-title  {
      h3{
        padding: 10px;
      }
    }

    .details {
      width: 35%;
    }

    .qspacer {
        font-size: 0;
        height: 250px;
        line-height: 0;
        border: 0px;
         width: 100%;
    }






  }

  @media screen and (min-width: 420px) and (max-width: 1024px){
    ion-content {
      margin-top: 150px;
    }

    .assessments {
      .accordion-tab {
        margin: 10px;
      }

      .an-assessment {
        margin: 10px;

          .details {
            width: 55%;
          }

          .assNav {
            width: 40%;
          }
      }
    }


  }



}
