page-user-dashboard {

// first bar -styling
  // .first-bar {
  //   width: 100%;
  //   background-color: black;
  //   // margin-top: 100px;
  //   // padding: 20px 20px 5px 20px;
  //   margin: 76px auto 0 auto;
  //   display: flex;
  //   position: relative;
  //   min-height: 100px;
  //   border-top: .5px solid lightgray;
  //   .user-info{
  //     margin-left: 50px;
  //     width: 50%;
  //     padding-left: 40px;
  //     h1 {
  //       display: inline-block;
  //       width: 20%;
  //       position: absolute;
  //       top: 0px;
  //       left: 20px;
  //       color: white;
  //       font-size: 2.5em;
  //     }
  //     .info {
  //       display: inline-block;
  //       // width: 70%;
  //       color: white;
  //       position: absolute;
  //       bottom: 0px;
  //       left: 20px;
  //       p {
  //         display: inline-block;
  //         // width: 25%;
  //       }
  //     }
  //   }
  //   .buttons {
  //     position: absolute;
  //     right: 10px;
  //     top: 10px;
  //
  //     button {
  //       margin: 3px;
  //     }
  //   }
  // }



.accordion-tab {
  width: 97.5%;
  height: 40px;
  padding: 10px 0;
  padding-left: 10px;
  background: white;
  margin: 6px;
  vertical-align: middle;
  position: relative;

  p {
    // width: 70%;
    // height: 20px;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: block;


  }

  .dropdown {
    font-size: medium;
    position: absolute;
    top: 30%;
    right: 10px;
  }
}

.metrics {
  background-color: #ebebeb;
  p {
    text-align: center;
    margin: 0 auto;
  }
}

  .assessment-boxes {
    width: 99%;
    // position: absolute;
    // top: 200px;
    // left: 40px;
    margin: 0 auto;
    margin-top: 200px;
    vertical-align: top;
    padding-left: 100px;

  }



  .assessments {
    width: 40%;
    vertical-align: top;
    background-color: #EBEBEB;
    // display: flex;

    // margin: 0 auto;
    margin: 3%;
    display: inline-block;
    min-height: 250px;


    }

    .box-title {
      width: 100%;
      display: block;
      padding: 2px;
      background-color: darkslateblue;
      h3 {
        text-align: center;
        color: white;
      }

        // text-decoration: underline;
      }

    .assessment-links {
      padding-top: 10px;
      // height: 40px;
      padding-bottom: 10px;
      border-bottom: 1px solid white;
      width: 100%;
      height: 40px;
      .buttons {
        width: 99%;
        margin: 0 auto;
        button {
          display: inline-block;
          width: 30%;
          // padding: 0 7px;
          margin: 0 10px;
          font-size: .7em;
          // padding: 3px;
        }
      }

    }


    .an-assessment {
      display: block;
      width: 97.5%;
      margin: 15px 6px 35px 6px;
      // background-color: white;
      // border-top: 1px solid white;
      // border-bottom: 1px solid white;

      .details {
        width: 55%;
        display: inline-block;
        padding: 10px;

      }

      .assNav {
        width: 40%;
        display: inline-block;
        float: right;
        padding-left: 20px;
        text-align: center;
        margin-right: 10px;
        margin-top: 0px;


        button {
          display: block;
          // margin: 5px;
          font-size: 16px;
          background-color: darkslateblue;
          color: white;
          float: center;
          padding: 10px;
          margin: 5px auto;
          text-transform: uppercase;
          font-size: .9em;
          font-weight: bold;
          width: 70%;
          border-radius: 2px;

        }
      }
    }



  .mobile-to-start, .mobile-to-reports {
    display: none;
  }

  .mobile {
    display: none;
  }



  .qspacer {
      font-size: 0;
      height: 250px;
      line-height: 0;
      border: 0px;
       width: 100%;
  }



  @media screen and (max-width: 1024px){

    ion-content {
      margin-top: 100px;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: inherit;
    }

    .assessment-links {
      display: none;
    }



    .assessment-boxes {
      position: inherit;
      width: 100%;
      margin-top: 0px;
      padding-left: 0px;
      // right: 10px;
      // margin: 0;
    }

    .mobile-wrapper {
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-direction: column;
      margin-top: 50px;
      width: 100%;

      // .div {
      //   margin: 10px;
      // }
    }

    .mobile-to-start, .mobile-to-reports {
      display: inherit;
      width: 100%;
      vertical-align: top;

      margin: 10px 0;



    }



    // .small-assessments {
    //   display: none;
    // }

    // .first-bar{
    //   margin: 60px auto 0 auto;
    //   border-top: 1px solid gray;
    //
    //   .buttons {
    //     display: none;
    //   }
    // }

    .first-bar {
      display: none;
    }

    .assessments {
      width: 100%;
      margin: 10px 0;
      min-height: 0;

      .accordion-tab {
        margin: 4.5px;
        margin-bottom: 10px;
      }

      .an-assessment{
        margin: 4.5px;
        margin-bottom: 10px;

        .details {
          width: 100%;
        }
        .assNav{
          width: 100%;
          float: none;
          padding-left: 0;
          text-align: inherit;

          button {
            width: 30%;
            font-size: x-small;
            display: inline-block;
            margin: 5px;
            vertical-align: middle;

            h3 {
              font-size: 9px;
            }
          }
        }
      }

    }

    .box-title  {
      h3{
        padding: 10px;
      }
    }

    .details {
      width: 35%;
    }








  }

  @media screen and (max-width: 375px){
    .accordion-tab {
      p {
        font-size: small;
      }
    }
  }

  @media screen and (min-width: 750px) and (max-width: 1024px){



    ion-content {
      margin-top: 150px;
    }

    .nav {
      .nav-q-buttons {

      }
    }


    

    .assessments {
      .accordion-tab {
        margin: 10px;
      }

      .an-assessment {
        // margin: 10px;

          .details {
            // width: 55%;
          }

          .assNav {
            padding-left: 50px;
          }
      }
    }


  }



}
