page-dashboard {

  ion-content {
    fixed-content{
      margin-top: 100px;
      scroll-content{
        margin-top: 100px;
      }
    }
  }
    .toolbar-class{
        header{
            color:#000;
        }
        img{
            margin-left: 10px;
            margin-top: 10px;

        }
        hr {
            height: 1px !important;
            width: 98% !important;
            background:grey!important;
            display: block !important;
            font-size: 2em !important;
            visibility: visible !important;
            }
    }
    .subheader{
        display: flex;
        justify-content: space-between;
        color:white;
        margin-left:13px;
        flex-direction: row-reverse;
    }
    .top{
        font-weight: bold;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 68%;
        float: right;
    }
    .questions{
        display: flex;
        justify-content: space-between;
    }
    .subtitle{
    }
    .answers{
        flex-basis: 5%;
    }
    .yes{
        background-color: limegreen;
        color:limegreen;
        border-radius:1px;
        display:flex;
        height:30px;
        width: 30px;
    }
    .no{
        background-color: #df3737;
        color:#df3737;
        border-radius:1px;
        height:30px;
        width: 30px;
        display: flex;
        align-content: center;
    }
    .blank{
	    background: transparent;
        color:#df3737;
        border-radius:1px;
		border: 2px solid lightgrey;
        height:30px;
        width: 30px;
        display: flex;
        align-content: center;
    }
    .na{
        background-color: lightgrey;
        color:lightgrey;
        border-radius:1px;
        height:30px;
        width: 30px;
    }
    .date{
        flex-basis: 5%;
    }
    .container{
        display: flex;
        flex-direction: row;
        width:100%;
    }
    .header{
        flex-basis: 30%;
    }
	.dashbox {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.dashpic {
		height: 17px;
	}

    .mobile {
        display: none;
    }

    @media screen and (max-width: 1024px){
          ion-content {
              // margin-top: 130px;
          }

          .desktop {
              display: none;
          }

          .mobile {
              display: inherit;
          }

        .mobile-wrapper {
            width: 100%;
        }

        h3 {
            // border-top: 1px solid gray;
            border-bottom: 1px solid lightgray;
            padding: 15px 0;
        }

        h6{
            width: 100%;
            display: block;
        }
        .questions {
            width: 100%;
            display: block;
            margin: 20px 0;
        }

        .answer-row {
            width: 100%;
            display: block;
            margin: 5px 0;
        }

        .answers {
            // display: block;
            display: inline-block;
            width: 10%;
            margin: 0;
        }

        .qspacer {
            font-size: 0;
            height: 250px;
            line-height: 0;
            border: 0px;
             width: 100%;
        }

        .level-num {
            padding-left: 7px;
        }

        .dash-toolbar {
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }


        .links {
            display: block;
            width: 100%;
            margin: 20px 0;

            button {
                display: block;
                // width: 100%;
            }
        }



      }

      @media screen and (min-width: 420px) and (max-width: 800px){
        ion-content {
          // margin-top: 160px;
        }
      }
}
