<topbar [assessmentId]="assessmentId"
              [pageName]="pageName"></topbar>

<ion-content padding >

  <div class="desktop">
          <br><br><br><br><br><br>
  </div>

  <div class="desktop">
  	<div class="legend" style="display:flex; align-items: center; "> <span>subthread passed: </span>
  					<div class="yes dashbox">
            <img class="dashpic" src="assets/imgs/check-mark-256.png">
  					</div>
  				<span>subthread failed</span>
  					<div class="no dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico">
  					</div>
  					<span>subthread unanswered</span>
  					<div class="na dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden;">
  					</div>
  					<span>no subthread at this level</span>
  					<div class="blank dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden">
  					</div>
  	</div>
    <div *ngFor = "let question of questionSet">
      <hr>
        <p><b>{{question.header}}</b></p>
      <hr>
      <div *ngFor = "let answer of question.questions" class="questions">
        <div class="header">
          <p *ngIf="answer.subheader!= 'MR Levels'"class = "subtitle">{{answer.subheader}}</p>
          <h5 *ngIf="answer.subheader == 'MR Levels'"> MR Levels</h5>
        </div>
        <div *ngFor ="let response of answer.answers" class="answers">
                <div *ngIf="isHeader(response)">
                        {{response}}
                </div>
          <div *ngIf = "response == true && !isHeader(response)" class = "yes dashbox">
            <img class="dashpic" src="assets/imgs/check-mark-256.png">
          </div>
          <div *ngIf = "response == false" class = "no dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico">
          </div>
          <div *ngIf = "response == 'blank'" class = "blank dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden">
          </div>
          <div *ngIf = "response == null" class = "na dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden;">
          </div>
        </div>
      </div>
    </div>
</div>


  <div class="mobile">
    <div class="mobile-wrapper">
      <div class="dash-toolbar">
        <ng-container *ngIf="!showAll">
          <button (click)="expandAll()" ion-button color="darkSlateBlue">Expand All</button>
        </ng-container>
        <ng-container *ngIf="showAll">
          <button (click)="expandAll()" ion-button color="darkSlateBlue">Close All</button>
        </ng-container>

        <button (click)="presentLegend($event)" ion-button color="darkSlateBlue">Legend</button>
      </div>
      <div *ngFor="let question of questionSet" class="single-thread">
        <h3>{{question.header}}            <span><img src="assets/imgs/if_icon-arrow-down.png" (click)="toggleSubThread(question)" class="downArrow">
        </span></h3>
        <div *ngIf="question.show || showAll">
          <div *ngFor="let answer of question.questions" class="questions">
            <h6>{{answer.subheader}}</h6>
            <div class="answer-row">
              <div *ngFor ="let response of answer.answers; let i = index" [attr.data-index]="i"  class="answers">
                <p class="level-num">{{i + 1}}</p>
                <div *ngIf = "response == true" class = "yes dashbox">
                  <img class="dashpic" src="assets/imgs/check-mark-256.png">
                </div>
                <div *ngIf = "response == false" class = "no dashbox">
                  <img class="dashpic" src="assets/imgs/x-mark-256.ico">
                </div>
                <div *ngIf = "response == 'blank'" class = "blank dashbox">
                  <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden">
                </div>
                <div *ngIf = "response == null" class = "na dashbox">
                  <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="links">
        <button (click)="handleActionItems()" ion-button color="darkSlateBlue">Action Items</button>
        <button (click)="handleNa()" ion-button color="darkSlateBlue">Not Applicable</button>
        <button (click)="handleSkipped()" ion-button color="darkSlateBlue">Skipped Questions</button>
      </div>


      <div class="qspacer"></div>
    </div>
  </div>

</ion-content>
