<topbar [assessmentId]="assessmentId">
</topbar>

<ion-content padding>
  <br><br><br><br><br><br><br><br><br><br>
  <div class="top">
      <p>Completion Date</p>
      <p>10</p>
      <p>9</p>
      <p>8</p>
      <p>7</p>
      <p>6</p>
      <p>5</p>
      <p>4</p>
      <p>3</p>
      <p>2</p>
      <p>1</p>
  </div>
  <br><br><br>
  <div *ngFor = "let question of questionSet">   
    <hr>
      <p><b>{{question.header}}</b></p>
    <hr>
    <div *ngFor = "let answer of question.questions" class="questions">
      <div class="header">
        <p class = "subtitle">{{answer.subheader}}</p>
      </div>
      <div *ngFor ="let response of answer.answers" class="answers">
        <div *ngIf = "response == true" class = "yes">
          <img src="../../assets/imgs/check-mark-256.png">
        </div>
        <div *ngIf = "response == false" class = "no">
          <img src="../../assets/imgs/x-mark-256.ico">
        </div>
        <div *ngIf = "response == 'blank'" class = "blank">
          <img src="../../assets/imgs/x-mark-256.ico" style="visibility:hidden">
        </div>
        <div *ngIf = "response == null" class = "na">
          <img src="../../assets/imgs/x-mark-256.ico" style="visibility:hidden;">
        </div>
      </div>
      <div class = "date">
        <p>Date</p>
      </div>
    </div>
  </div>
</ion-content>
