<topbar [assessmentId]="assessmentId">
</topbar>

<ion-content padding>
  <br><br><br><br><br><br><br><br><br><br>
		<div *ngIf="na && na.length == 0">
			<p>You have not marked any questions as not applicable</p>
		</div>

  <div *ngFor="let subThread of subThreads">
    <hr>
		{{subThread}}
    <hr>
		<div *ngFor="let q of filterBySubThread(subThread)" class="questions">
		<p style="width: 20%;">Level {{q.mrLevel}}</p>
      <p (click)="navToQuestion(q.questionId)" style="cursor:pointer; color:blue;">{{q.questionText}}</p>
			</div>
  </div>
</ion-content>
