<div>
<h1>Select a previously created assessment</h1>
</div>
<table>
	<thead>
		<tr *ngIf="formData.pickedAssessId">
			<td (click)="loadAssessment(formData.pickedAssessId)" ion-button small>Open Assessment</td>
		</tr>
		<td><h2>Assessment Title</h2></td>
		<td><h2>Target MRL</h2></td>
	</thead>
	<tbody>
	<tr *ngFor="let ass of assessments">
		<td><h3>{{ass.name}}</h3></td>
		<td><h3>{{ass.targetMRL}}</h3></td>
		<td><input type="radio" value="ass._id" [(ngModel)]="formData.pickedAssessId"></td>
		<hr />
	</tr>
	<tbody>

</table>
