<div class="toolbar-class">
  <div>
    <!-- <h1>{{this.mainTitle}}</h1> -->
    <div no-border class="docent-header">
      <div color="dark" hideBackButton="true">
        <div class = "container-toolbar">
          <img class="toolbar-logo" src="assets/imgs/docent-logo-f-n-l-1.jpg" onclick='document.location="https://web.mfgdocent.com/"'>
          <div *ngIf="!blank" class = "container-tbbuttons">
            <button (click)="handleUserDash()" color="dark" ion-button id="user-dash-button">
              User Dash
            </button>
            <button ion-button (click)="presentViewsPop($event)" color="dark" id="assessment-open-button">
                Assessment
            </button>
            <button (click)="showHelp($event)"ion-button color="dark" id="help-open-button">
                Help
            </button>
            <button *ngIf="auth.isLoggedIn()" ion-button (click)="handleLogout()" color="dark" id="logout-button">
								Logout
            </button>
          </div>

          <div *ngIf="!blank" class="container-tbbuttons-mobile">
            <button ion-button (click)="openMobileNav()" color="dark">
              <ion-icon name="menu"></ion-icon>
            </button>
          </div>
        </div>
        <!-- <hr> -->

        <!-- TODO: use an ngif for if there is an assessmentId -->

        <div *ngIf="mainTitle"   (click)="toggleTopbarInfo()" class="mobile">
	        <h1 class="main-title" ><font color="white">&nbsp;&nbsp;&nbsp;{{this.mainTitle}}</font></h1>
        </div>

        <div *ngIf="mainTitle" class="desktop">
          <h1 class="main-title" ><font color="white">&nbsp;&nbsp;&nbsp;{{this.mainTitle}}</font></h1>
        </div>

        <div *ngIf="pageName">
          <h1 class="page-name" id="page-name">{{pageName}}</h1>
        </div>

      	<div *ngIf="assessmentId && noSecondBar != false && infoShow && !pageName" class="subheader">
          <div *ngIf="mainTitle">
            <p><span class="pointer" (click)="presentThreadPop($event)" title="This takes you to the navigate page showing all questions" id="open-thread-popover">Thread: {{this.mainTitle}}</span> | <span class="pointer" (click)="presentSubThreadPop($event)" title="This opens a pop up with all questions in the subthread" id="open-subthread-popover">SubThread: {{this.subTitle}}</span></p>
            <p class="number-info"><span class="q-number" id="question-number-in-set">Question {{this.currentQPos}} out of {{this.currentQSetAmt}} </span> <span class="assessment-info-mobile" (click)="toggleInfo($event)">| Assessment Info</span>  </p>
            <p (click)="goToNavExpand()" class="show-all pointer" id="show-all-questions">Show All Questions</p>
          </div>

          <div class="targets-scope">
            <p>Target MRL: {{targetMRL}}| Target Date: {{targetDate | date: mediumDate}}</p>
            <p class="pointer" (click)="toggleScopeSelected($event)"><u>Show Assessment Scope</u></p>
            <p class="pointer" (click)="toggleQuestionHistory()"><u>Show Question History</u></p>
          </div>

          <!-- <div *ngIf="scopeSelected" class="scope-show">
      		  <p>Assessment Scope: {{ scope }}</p>
      		</div> -->
        </div>
      </div>
    </div>


  <!-- <div *ngIf="popUpButtonClicked">
    <subthread-popup [assessmentId] = "assessmentId"
                                  [subTitle] = "this.subTitle"></subthread-popup>
  </div> -->
</div>
