topbar {

  .docent-header {
  }

  .toolbar-class{
    header{
        color:#000;
    }
    img{
        margin-left: 10px;
        margin-top: 10px
    }
    hr {
        height: 0px !important;
        width: 98% !important;
        background:grey!important;
        display: block !important;
        font-size: 2em !important;
        visibility: visible !important;
      }
  }

  .container-toolbar{
    display: flex;
    justify-content: space-between;
    img{
        padding: 5px;
    }
  }

  .grayed {
	color: gray;
  }

  .toolbar-logo {
    width: auto;
    height: 100%;
    cursor: pointer;
  }

  .spacer {
    font-size: 0;
    height: 100px;
    line-height: 0;
  }

  .subheader {
    position: relative;
    min-height: 80px;
    div {
      p {
        span {
          text-decoration: underline;
        }
      }
      }

      .scope-show {
        position: absolute;
        top: 50%;
        left: 50%;
      }

        .targets-scope {
          position: absolute;
          bottom: 0;
          right: 20px;
        }

    }




  }
