<div class="toolbar-class">
  <div>
    <ion-header>
      <ion-navbar color ="dark" style="height:100px;">
        <div class = "container-toolbar">
          <img src="../../assets/imgs/docent-logo-f-n-l-1.jpg">
          <div class = "container-tbbuttons">
            <button ion-button (click)="logout()" color="dark">
								Logout
            </button>
            <button ion-button (click)="loginNav()" color="dark">
								Login 
            </button>
            <button ion-button (click)="registerNav()" color="dark">
                Register 
            </button>
            <button ion-button (click)="presentViewsPop($event)" color="dark">
                Assessment
            </button>
            <button (click)="showHelp($event)" ion-button color="dark">
                Help
            </button>
          </div>
        </div>
        <hr>
      </ion-navbar>
    </ion-header>
  </div>
</div>
