<topbar [pageName]="pageName"></topbar>

<ion-content class="ion-padding">

  <div class="wrapper">
    <div class="desktop">
      <ion-button size="small" [routerLink]="['/user-dashboard']"  color="buttonBlue">Go Back To Dashboard</ion-button>
    </div>
    <div class="user-settings">
      <h3>User Information</h3>
      <h6>User name: {{user.name}}</h6>
      <h6>User email: {{user.email}}</h6>
    </div>
    <ion-item-divider style="margin-bottom: 10px;">
  	</ion-item-divider>

    <!-- <p>Allow user to change password</p> -->
    <div class="upload-download">
      <h3>Add Custom Deskbooks</h3>
      <ion-button size="small" class="desktop" color="buttonBlue"  (click)="saveDownJSON()">Download 2020 Deskbook</ion-button>
      <ion-button size="small" class="desktop" color="buttonBlue" (click)="showFileUpload($event)" id="asdf">Upload Deskbook Version</ion-button>

      <ion-button size="small" class="mobile" disabled color="buttonBlue"  (click)="saveDownJSON()">Download 2020 Deskbook</ion-button>
      <ion-button size="small" class="mobile" disabled color="buttonBlue" (click)="showFileUpload($event)" id="asdf">Upload Deskbook Version</ion-button>
      <p class="mobile">Go onto web.mfgdocent.com to Upload and Download Deskbook Versions</p>
    </div>

    <p>Your new deskbooks will appear in the Deskbook Version dropdown on the Start New Assessment Page</p>
  </div>

</ion-content>
