.wrapper {
      width: 100%;
      margin-top: 100px;
      padding: 30px;
      // margin-left: 30px;
  }

  .mobile {
    display: none;
  }

  @media screen and (max-width: 1024px){
    .desktop {
      display: none;
    }

    .mobile {
      display: inherit;
    }
  }

  @media screen and (min-width: 420px) and (max-width: 1024px){
    .wrapper {
      margin-top: 120px;
    }
  }
<<<<<<< HEAD
=======
}
>>>>>>> 5ea6ac4e3aac7da6e0b8ba8ff1622f1cf5ec3ed9
