<!--
  Generated template for the NavigatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="toolbar-class">
  <div>
    <ion-header>
      <ion-navbar color ="dark" hideBackButton="true">
        <div class = "container-toolbar">
          <img src="../../assets/imgs/docent-logo-f-n-l-1.jpg">
          <div class = "container-tbbuttons">
            <button ion-button (click)="presentViewsPop($event)" color="dark">
                Assessment
            </button>
            <button ion-button color="dark" >
                Help
            </button>
          </div>
        </div>
        <hr>
        <div class="subheader">
          <div><p>Navigate</p></div>
          <div style="margin-right:20px">
            <p>Target MRL: {{targetMRL}} | Target Date: {{date}}</p>
            <p><u>Show Assessment Scope</u></p>
          </div>
        </div>
      </ion-navbar>
    </ion-header>
  </div>
</div>


<ion-content padding>
  <br><br><br><br><br><br><br><br><br><br>
  <hr>
  <div *ngFor="let segment of schema; index as i">
    <img src="../../assets/imgs/if_icon-arrow-down.png" class= "downArrow" (click)="changeState(i)">
    {{segment.header}}
    <div *ngIf="this.state[i] == true">
      <div *ngFor="let sub of segment.subheader; index as j">
        <img src="../../assets/imgs/if_icon-arrow-down.png" class= "downArrow" (click)="changeSubState(i,j)" class="subtitle">
        {{sub.subheader}}
        <div *ngIf="this.subState[i][j] == true">
          <div *ngFor="let question of sub.questions" class="mrl">
            <b>{{question.mrl}}</b>
            <div *ngFor="let title of question.questionSet" class="question">
              <p style="color:blue;cursor: pointer;" (click)="getQuestion()">{{title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

</ion-content>
