
    ion-content {
      margin-top: 120px;

    }

    $input-backgroud:#fbfbfb;
    $input-border:#dcdcdc;
    %input-style{
        width: 100%;
        height: 100%;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 2px;
        line-height: 1.42857;
        font-size: 14px;
        padding: 6px 12px;
        background-color:$input-backgroud;
        border-color: $input-border;
    }
    %down-arrow{
        background-position: right 50%;
        background-repeat: no-repeat;
        background-image:url('../../assets/imgs/if_icon-arrow-down.png');
        padding: .5em;
        padding-right: 1.5em;
    }
    %page-info{
        font-size: 20px;
        margin: 100px 0px 0px 100px;
        hr{
            margin-right: 100px;
        }
    }
    .toolbar-class{
        header{
            color:#000;
        }
        img{
            margin-left: 10px;
            margin-top: 10px
        }
        p{
            visibility: visible !important;
        }
        hr {
            height: 1px !important;
            width: 98% !important;
            background:grey!important;
            display: block !important;
            font-size: 2em !important;
            visibility: visible !important;
        }
    }
    .extraspace {
      flex-grow: 1;
    }

    .filter-toolbar {
        list-style-type: none;
        height: 70px;
        // background-color: blue;
        // position: absolute;
        // top: 150px;
        // left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        z-index: 9999;
        padding-left: 20px;
        padding-top: 15px;
        border-bottom: .5px solid lightgray;

        button {
            // display: inline-block;
            width: 20%;
        }

        .filter-list {
            width: 60%;
            float: right;
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;

             p {
                // width: 10%;
                width: fit-content;
                // margin-left: 10px;
                padding-right: 10px;
                margin: 0;
            }
            select {
                width: 20%;
                // vertical-align: middle;
                margin: 0 5px;
            }


            .filter-buttons {
                margin: 0 5px;
                // width: 10%;
                width: 15%;
                // vertical-align: middle;
            }

         }

        }
    .subheader{
        display: flex;
        justify-content: space-between;
        color:white;
        margin-left:13px;
    }
    .page-one-info{
        @extend %page-info;
    }
    .review-card-content {
      color: black;
      width: 100%;
    }
    .survey-info{
        // @extend %page-info;
        background-color: #F5F5F5;
        padding: 10px 0;
        width: 100%;
        .h1, .h2, .h3, .h4, .h5, .h6 {
          color: rgb(200, 200, 200);
        }
    }
    .review-card {
      margin: 15px auto;
      width: 50%;
      .card-content-md {
        h2, h4 {
          padding: 5px 0;
        }
      }
    }
    .box {
      border-radius:3px;
      width: fit-content;
      padding: 4px 6px;
      text-align: center;
    }
    .yes{
      background-color:green;
      color:white;

    }
    .no{
      background-color:red;
      color:white;
    }
    .na{
      background-color:darkgrey;
      color:white;
    }
    // .not-answered{
    //     .box{
    //         background-color:lightgrey;
    //         color:white;
    //         border-radius:3px;
    //         width:15%;
    //         text-align: center;
    //     }
    // }

    .qspacer {
    font-size: 0;
    height: 250px;
    line-height: 0;
    border: 0px;
    /* testing only */
     // border: 1px solid red;
     width: 100%;
  }

    @media screen and (max-width: 1024px){

      .export-toolbar {
        display: none;
      }
      .review-card {
        width: 95%;
      }
      .extraspace {
        visibility: hidden;
      }
      .filter-toolbar {
        flex-wrap: wrap;
        padding-left: 5px;
        height: auto;
        float: none;
        .extraspace {
          visibility: hidden;
        }
        .button {
          width: 100%;
        }
        .filter-list{
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;
          p {
           margin: 5px 0;
            width: 50%;
          }
          select {
            margin: 5px;
            width: 40%;
          }
          .filter-buttons {
            margin: 5px;
            width: 45%;
          }
        }
      }

        .page-one-info {
            margin-left: 0px;
            margin-top: 0px;
        }
      .survey-info {
        margin-left: 0px;
      }

      .not-answered {
          .box {
              width: 100%;
          }
      }

      .no {
          .box {
              width: 100%;
          }
      }

      .yes {
          .box {
              width: 100%;
          }
      }

      .na {
          .box {
              width: 100%;
          }
      }
    }

    @media screen and (min-width: 420px) and (max-width: 1024px){
      ion-content {
        margin-top: 160px;
      }
    }
