page-edit-assessment {

  ion-content {
    margin-top: 80px;
  }

  .add-team-members-header {
    margin-bottom: 1rem;
		margin-top: 1em;
    display: flex;
    align-items:center;
    div {
            h6, p {
      margin: 0;
      }
    }
  }

  .error {
    color: red;
  }

  .error-container {
    margin-left: 2em;
  }

  .thread-row {
    display: flex;
    align-items: center;
    margin-bottom: .4em;
  }

  .choose-threads {
    display: flex;
    flex-direction: column;
  }

  .choose-threads-header {
    margin-top: .8em;
    display: flex;
    h6 {
      margin: 0;
    }
    margin-bottom: .4em;
  }

  .choose-threads-thread-list {
    display: flex;
    flex-direction: column;
    input[type=checkbox] {
       height: 20px;
       width: 20px;
       margin-right: 1em;
    }
    h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
    font {
      margin-bottom: .5em;
    }
  }

  .close {
		position: absolute;
		top: 75px;
		right: 0;
		padding: 20px;
		// color: black;
		font-size: 3em;
	}


}
