<title>Docent</title> <topbar></topbar> <ion-content padding> <div class="desktop"> <br> <br> </div> <br> <br>

      <ion-icon name="close-circle" (click)="closePopover()" class="close"></ion-icon>

    <!-- new assessment -->
    <div *ngIf="page == 'new'">
      <h1>Start New Assessment</h1>
      <font color="grey">Use this option to start a new assessment</font><br />
      <font color="grey">Please fill in all fields to begin an assessment</font>
    </div>
    <!-- /new assessment -->

    <!-- edit assessment -->
    <div *ngIf="page == 'edit'">
      <h1>Edit Assessment</h1>
    </div>
    <!-- /edit assessment -->

    <h6 class="assessment-name">Assessment Name</h6>

    <div class="topmost" style="z-index: 100;">
        <input type="text" name="assessmentName" id="assessment-name-input" placeholder = "Assessment Name" [(ngModel)]="assessment.name" >
    </div>

  <!-- Save for auth -->
<h6 class="team-members-title">Team Members</h6>
  <form class="member-form">
    <div class="member-list">
      <li *ngFor = "let member of assessment.teamMembers" >
        <b>{{member.name}}</b> at <b>{{member.email}}</b> as <b>{{member.role}}</b>
        <ion-icon color="danger" name="remove-circle" (click)="removeMember(member.email)" class="removeMember"></ion-icon>
        <!-- <span id="memberToast" style="color:secondary"> </span> -->
      </li>
    </div>
    <div class="members">
      <div class="member-inputs">
        <input type="text" name="memName" placeholder="Member Name" #memName id="memName">
        <input type="text" name="memEmail" placeholder = "Member Email" #memEmail id="memEmail">
        <input type="text" name="memRole" placeholder = "Member Role" #memRole id="memRole">
        <ion-icon (click)="addMember(memName.value, memEmail.value,memRole.value)" name="add-circle" color = "secondary" class="addMember desktop"></ion-icon>
        <button ion-button small color="secondary" (click)="addMember(memName.value, memEmail.value,memRole.value)" class="addMember mobile">Add Team Member</button>

      </div>
    </div>
    <!-- <div class = "buttons">
      <button  style="background-color:white">
      </button>
    </div> -->
  </form>

    <div class = "mid-first-page">
      <div class="scope">
        <h6>Scope</h6>
        <textarea name="scope" placeholder = "Enter Scope Here" id="assessment-scope-input"[(ngModel)]="assessment.scope"></textarea>
      </div>
      <div class ="target-level-date">
        <div class = "target-level">
          <div style = "width:45%;">
            <h6>Target MRL</h6>
            <select name="targetMRL" [(ngModel)]="assessment.targetMRL" id="target-mrl-select">
              <option value="" disabled selected>Select One...</option>
              <option value = "1">1</option>
              <option value = "2">2</option>
              <option value = "3">3</option>
              <option value = "4">4</option>
              <option value = "5">5</option>
              <option value = "6">6</option>
              <option value = "7">7</option>
              <option value = "8">8</option>
              <option value = "9">9</option>
              <option value = "10">10</option>
            </select>
          </div>
          <div style = "width:45%;">
            <div style="display: flex;">
              <h6>Level Switching</h6>
        <button class="tooltip" style="background: white;">
          <!-- TODO: pull this text out of html -->
          <span class="tooltiptext left">When on Docent will present questions above and below your selected level. This is to find the ceiling or floor of your MRL, if you pass or fail a level. When off, you will only see questions at your target level</span>
          <img src="assets/imgs/qmark.png" width="15" height="15">
        </button>
            </div>
            <select id="level-switching-select"[(ngModel)]="assessment.levelSwitching">
              <option value="true">On</option>
              <option value="false" selected="selected">Off</option>
            </select>
          </div>
        </div>
        <h6>Date to Achieve Target MRL</h6>
        <input  [(ngModel)]="assessment.targetDate" type="date" name="dateAchieve" id="date-to-achieve-input" placeholder = "mm/dd/yyyy" > <!-- [(ngModel)]=""> -->
      </div>
    </div>
    <div class = "bottom">
      <div>
        <h6>Location</h6>
        <ion-input name="location" id="location-input" placeholder = "Enter Location" [(ngModel)]="assessment.location" ></ion-input>
      </div>
      <div *ngIf="page == 'new'">
        <h6>Deskbook Version</h6>
        <select id="deskbook-select" name="version" [(ngModel)]="assessment.deskBookVersion">
          <option value="" disabled selected>Select One...</option>
          <ng-container *ngFor="let deskbook of deskbookVersions">
            <option value="{{deskbook}}">{{deskbook}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div class = "thread-start">
      <div class = "choose-threads">
        <div class="choose-threads-header">
          <h6>Choose Threads</h6>
          <button style="background: white;"(click)="showThreads($event)">
            <img src="assets/imgs/if_icon-arrow-down.png" width="15" height="15">
          </button>
        </div>
        <div class="choose-threads-thread-list" *ngIf="threadsShown">
          <font color="grey">
            Unselecting a thread will remove it from your MRA. Typically, all threads are selected.
          </font>
                <div class="thread-row" *ngFor="let thread of threads">
                  <input type="checkbox" (click)="toggleThread($event, thread)" [checked]="assessment.threads.includes((threads.indexOf(thread)) + 1)"/>
                  <h6>{{thread}}</h6>
                </div>
          <div>
                  <button style="border: 1px solid blue; padding:1em; padding-top: .5em; padding-bottom: .5em; background: white; margin-bottom: .4em; width: 106px" (click)="toggleAllThreads()">{{threadsSelectButton}}</button>
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="page == 'new'" ion-button color ="buttonBlue" id="assessment-start" class="start-button" (click)="createAssessment($event)">
          Start
        </button>
        <button *ngIf="page == 'edit'" ion-button color="buttonBlue" id="assessment-edit" (click)="updateAssessment()">
          Update Assessment
        </button>
      </div>
    </div>

</ion-content>
