<div class="wrapper">
	<h2>Choose an Assessment File to Import</h2>
	<form>
<div style="display: flex; flex-direction: column; justify-content: center;">
<ng-container *ngIf="!file">
	<ion-button color="buttonBlue">
	<label  for="qwerty" class="custom-file-upload">
	    Select File
	</label>
	</ion-button>
	<ion-item-divider>
		<label style="margin-top: 10px;">
			This is a way to import assessments from other versions of Docent. Please make sure the file you are uploading is a <b>.mra</b> file.
			</label>
	</ion-item-divider>
</ng-container>
<ng-container *ngIf="file">
	<ion-button color="buttonBlue">
		<label for="qwerty" class="custom-file-upload">
		    Select A Different File
		</label>
	</ion-button>
</ng-container>
	<input id="qwerty" type="file" (change)="test($event)" placeholder="Choose File">
  <!-- <hr *ngIf="file" /> -->
	<ion-item-divider  *ngIf="file">
	</ion-item-divider>
	<h5 *ngIf="file">Selected File</h5>
  <p *ngIf="file">{{file.name}}</p>
	<ion-button *ngIf="file" (click)="uploadFile($event)" type="submit">Upload</ion-button>
	<div id="inputTextToSave">

	</div>
</div>
	</form>
</div>
