<topbar [assessmentId]="assessmentId"
              [pageName]="pageName">
</topbar>

<ion-content class="ion-padding">
  <hr>

  <report-info-card [assessmentId]="assessmentIdFromParams"></report-info-card>

<div class="filter-toolbar">
  <ion-button (click)="saveXLS()" color="buttonBlue" class="desktop">Export to .XLS</ion-button>
  <div class="filter-list">
    <p>Filter MR Level: </p>
    <select name="filterMRL" id="filter-mrl-select" [(ngModel)]="filterList.filterMRL">
      <option value="" disabled selected>Select One...</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>
      <option value = "9">9</option>
      <option value = "10">10</option>
    </select>
    <ion-button class="filter-buttons" (click)="filterTheList()" size="small" color="buttonBlue">Filter</ion-button>
    <ion-button class="filter-buttons" size="small" (click)="clearFilter()" color="buttonBlue">Clear</ion-button>

  </div>
</div>

    <!-- <input
        type="text"
        style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Type to filter the name column..."
        (keyup)="updateFilter($event)"
      /> -->
      <ngx-datatable
        class="material"
        [columns]="columns"
        [rows]="rows"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
        [columnMode]="force"
      >
      </ngx-datatable>


<div class="qspacer">
</div>

</ion-content>
