<topbar [assessmentId]="assessmentId"
              [pageName]="pageName">
</topbar>

<ion-content class="ion-padding">
  <hr>

  <report-info-card [assessmentId]="assessmentIdFromParams"></report-info-card>

  <div class="filter-toolbar">
    <ion-button *ngIf="!showAll" (click)="expand()" color="buttonBlue">Expand All</ion-button>
    <ion-button *ngIf="showAll" (click)="expand()" color="buttonBlue">Close All</ion-button>
    <div class="extraspace"></div>
    <div class="filter-list">
      <div class="extraspace"></div>
      <p>Filter MR Level: </p>
      <select name="filterMRL" id="filter-mrl-select" [(ngModel)]="filterList.filterMRL">
        <option value="" disabled selected>Select One...</option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
        <option value = "6">6</option>
        <option value = "7">7</option>
        <option value = "8">8</option>
        <option value = "9">9</option>
        <option value = "10">10</option>
      </select>
      <ion-button class="filter-buttons" (click)="filter()" size="small" color="buttonBlue">Filter</ion-button>
      <ion-button class="filter-buttons" size="small" (click)="clear()" color="buttonBlue">Clear</ion-button>
    </div>
  </div>

    <!-- <input
        type="text"
        style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Type to filter the name column..."
        (keyup)="updateFilter($event)"
      /> -->
      <ngx-datatable
        class="material"
        [columns]="columns"
        [rows]="rows"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="10"
        [columnMode]="'force'"

      >
      <!-- Row Detail Template -->
        <!-- <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow (toggle)="onDetailToggle($event)">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div style="padding-left:60px; font-size:14px">
              <div>{{ row.thread }}, {{ row.subthread }}, {{row.question}}, {{row.answer}}</div>
            </div>
          </ng-template>
        </ngx-datatable-row-detail>
        <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href="#"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row)"
              class="desktop-hidden"
            >
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Name" [flexGrow]="3" [minWidth]="200">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Gender" [flexGrow]="1">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="mobile-hidden">{{ column.name }}</span>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Age" [flexGrow]="1">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="mobile-hidden">{{ column.name }}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column> -->
      </ngx-datatable>


<div class="qspacer">
</div>

</ion-content>
