<topbar [assessmentId]="assessmentId"
              [pageName]="pageName">
</topbar>

<ion-content class="ion-padding">
  <hr>

  <report-info-card [assessmentId]="assessmentIdFromParams"></report-info-card>

<div class="filter-toolbar">
  <button ion-button (click)="saveXLS()" color="buttonBlue" class="desktop">Export to .XLS</button>
  <div class="filter-list">
    <p>Filter MR Level: </p>
    <select name="filterMRL" id="filter-mrl-select" [(ngModel)]="filterList.filterMRL">
      <option value="" disabled selected>Select One...</option>
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>
      <option value = "9">9</option>
      <option value = "10">10</option>
    </select>
    <button class="filter-buttons" (click)="filterTheList()" ion-button small color="buttonBlue">Filter</button>
    <button class="filter-buttons" ion-button small (click)="clearFilter()" color="buttonBlue">Clear</button>

  </div>
</div>

<div class="list-wrapper">
  <div class="action-items-list">
    <h3 *ngIf="data && data.length == 0" style="padding: 10px;">There are no action items on this MRL.</h3>
    <div *ngFor="let item of data" class="item-wrapper">
        <div class="top">
        <h2>Question: {{item.questionText}}</h2>
        <h4>Thread Name: {{item.threadName}}</h4>
        <h4>Sub Thread Name: {{item.subThreadName}}</h4>
        </div>

        <div class="bottom">
          <p><b>Action Item: </b>{{item.what}}</p>
          <p><b>Due Date: </b>{{item.when}}</p>
          <p><b>Owner: </b>{{item.who}}</p>
          <p><b>Risk: </b>{{item.risk}}</p>
        </div>

    </div>

  </div>
</div>

<div class="qspacer">
</div>

</ion-content>



<!-- <div><h2>Action Items not available currently on native applications</h2></div> -->

<!-- <div class="row">
  <div class="toolbar">
    <input *ngIf="config.filtering" placeholder="Filter all columns"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  <button ion-button color="buttonBlue" (click)="saveXLS()" id="previous-button" class="desktop">Export to .XLS</button>
  </div>
</div>
<br>
<div class="table-wrapper">
<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
</div> -->
