ion-scroll { white-space: nowrap; }
$input-backgroud:#fbfbfb;
$input-border:#dcdcdc;
%input-style{
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: 1.42857;
    font-size: 14px;
    padding: 6px 12px;
    background-color:$input-backgroud;
    border-color: $input-border;
}
%down-arrow{
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image:url('../../assets/imgs/if_icon-arrow-down.png');
    padding: .5em;
    padding-right: 1.5em;
}

.toolbar-class{
    header{
        color:#000;
    }
    img{
        margin-left: 10px;
        margin-top: 10px
    }
    hr {
        height: 1px !important;
        width: 98% !important;
        background:grey!important;
        display: block !important;
        font-size: 2em !important;
        visibility: visible !important;
      }
}
.buttons{
    display: flex;
    ion-icon{
        font-size: 30px;
    }
}
.container-toolbar{
    display: flex;
    justify-content: space-between;
    img{
        padding: 5px;
    }
}
.member-list{
    display:flex;
    flex-direction: column;
    list-style-type: none;
}

.members{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    input{
        @extend %input-style;
    }
    input:focus { 
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
}

.member-role-button{
    display:flex;
    input{
        width: 100%;
    }
}

.mid-first-page{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 15px 0;
}

.scope{
    width: 48%;
    textarea{
        @extend %input-style;
        height:80%;
        resize:none;
    }
    textarea:focus { 
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
}

.target-level-date{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input{
        @extend %input-style;
        width:100%;
        height: 30%;
    }
    input:focus { 
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
}
.target-level{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    select{
        @extend %input-style;
        @extend %down-arrow;
        width:100%;
        -webkit-appearance: none;
    }
}
.bottom{
    display: flex;
    justify-content: space-between;
    input{
        @extend %input-style;
        width:100%;
        margin-left: 0px;
        margin-top:0px;
        height: 45%;
    }
    input:focus { 
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
    select{
        @extend %input-style;
        @extend %down-arrow;
        height:45%;
        width:100%;
        -webkit-appearance: none;
    }
}
.thread-start{
    display: flex;
    justify-content: space-between;
}

.choose-threads{
    display:flex;
    p{
        font-family: Arial, Helvetica, sans-serif;
    }
}

.existing-assessment{
    p {
        word-break: break-all;
        white-space: normal;
    }
    display:flex;
    justify-content: space-around;
}