<!-- Generated template for the MobileNavPopoverComponent component -->
<div>
  <ng-container *ngIf="regularNavShow">
  <button *ngIf="auth.isLoggedIn()" ion-button (click)="handleLogout()" color="dark">
      Logout
  </button>
  <button (click)="handleUserDash()" ion-button color="dark">
      User Dash
  </button>
  <button (click)="handleStartNew()" ion-button color="dark">
      Start New Assessment
  </button>
  <ng-container *ngIf="assessmentId" class="assessment-links">
    <button (click)="handleContinue()" ion-button color="dark">
        Continue Assessment
    </button>
    <button (click)="handleDashboard()" ion-button color="dark">
        Dashboard
    </button>
    <button (click)="handleNavigate()" ion-button color="dark">
        Navigate
    </button>
    <button (click)="handleReview()" ion-button color="dark">
        Review
    </button>
    <button (click)="handleActionItems()" ion-button color="dark">
        Action Items
    </button>
    <button (click)="handleSkipped()" ion-button color="dark">
        Skipped Questions
    </button>
    <button (click)="handleNA()" ion-button color="dark">
        N/A Questions
    </button>
  </ng-container>
  <button (click)="showHelp()" ion-button color="dark">
      Help Menu
  </button>
  </ng-container>
  <ng-container class="help-links" *ngIf="helpShow">
    <button (click)="handleCriteria()" ion-button color="dark">
        Criteria
    </button>
    <button (click)="handleDefinitions()" ion-button color="dark">
        Definitions
    </button>
    <button (click)="handleFaqs()" ion-button color="dark">
        FAQs
    </button>
    <button ion-button color="dark">
        User Guide
    </button>
    <button ion-button color="dark">
        MRL Deskbook
    </button>
    <button (click)="closeHelp()" ion-button color="dark">
        Back
    </button>
  </ng-container>
  <button (click)="handleSettings()" ion-button color="dark">
      Settings
  </button>
  <button (click)="closeNav()" ion-button color="dark">
      Close
  </button>
</div>
