mobile-nav-popover {
  // padding-top: 0px;
  button, a {
    width: 100%;
    display: block;
  }

  .user-name {
    text-transform: capitalize;
    padding-bottom: 0;
  }

  .icons {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;

    ion-icon {
      color: white;

    }

    .arrow-back {
      position: absolute;
      top: 0;
      left: 1px;
      font-size: 3em;
      padding: 10px;
    }

    .close {
      position: absolute;
      top: 0;
      right: 1px;
      font-size: 3em;
      padding: 10px;
      opacity: 1;
      
    }
  }


}
