assessment-scope-popover {
  padding: 10px;

  // .only-scope {
  //
  // }

  .assessment-info {
    display: none;
  }

  @media screen and (max-width: 800px) {
    .only-scope {
      display: none;
    }

    .assessment-info {
      display: inherit;
    }
  }
}
