<!-- Generated template for the FileDeleteComponent component -->
<div>
  <ng-container *ngIf="typeToDelete == 'file'">
          Are you sure you want to delete this file from your assessment? <br />
    <button ion-button color="buttonBlue" (click)="deleteFile()">Yes</button>
  </ng-container>

  <ng-container *ngIf="typeToDelete == 'assessment'">
          Are you sure you want to delete this assessment?<br />
    <button ion-button color="buttonBlue" (click)="delete()">Yes</button>
  </ng-container>
  <button ion-button color="buttonBlue" (click)="closePopover()">No</button>
</div>
