page-settings {
  // ion-content {
  //   width: 100%;
  //   margin-top: 100px;
  //   margin-left: 30px;
  // }

  .wrapper {
      width: 100%;
      // margin-top: 100px;
      padding: 30px;
      // margin-left: 30px;
  }

  @media screen and (max-width: 1024px){
    .desktop {
      display: none;
    }
  }

  @media screen and (min-width: 420px) and (max-width: 1024px){
    .wrapper {
      margin-top: 120px;
    }
  }
}
