faq-dropdown {
  .faq-question-title {
    color: darkblue;
  	font-family: Arial;
  	font-size: 1.2em;
  	font-weight: bold;
  }

  .faq-question-container {
  	margin-bottom: 15px;
  }

  .faq-question-header {
    display: flex;
  	justify-content: flex-start;
  	align-items:center;
  }

  .arrow-down {
    width: 0;
  	height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  	border-top: 8px solid darkblue;
  	margin-right: 6px;
  }

  .arrow-up {
    width: 0;
  	height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  	border-bottom: 8px solid darkblue;
  	margin-right: 6px;
  }

  .faq-text {
    width: 80%;
  }

  @media screen and (max-width: 800px){
    .faq-question-container {
      background-color: lightgray;
      height: auto;
      padding-bottom: 1px;
    }

      .faq-question-header {
        border: 5px solid lightgray;
        width: 100%;
        background-color: white;
        padding: 3px;
        // margin: 10px;
      }

      .faq-text {
        padding: 8px;
        font-size: 1.3em;
        margin: 3px 5px 3px 5px;
        width: auto;
        height: auto;
        background-color: white;
      }

      .desktop {
        display: none;
      }


  }
}
