<div >
	<h2>Choose a File to Upload</h2>
	<form>
<div style="display: flex; flex-direction: column">
<ng-container *ngIf="!file">
	<ion-button color="buttonBlue" for="asdf" class="custom-file-upload">
	    Select File
	</ion-button>
</ng-container>
<ng-container *ngIf="file">
<ion-button color="buttonBlue" for="asdf" class="custom-file-upload">
    Select Different File
</ion-button>
</ng-container>
	<input id="asdf" type="file" (change)="setFile($event)" placeholder="Choose File">
	<p *ngIf="file">filename:  {{file.name}}</p>
	<p *ngIf="file">size:  {{file.size}}</p>
	<p *ngIf="file">last modified:  {{file.lastModified}}</p>
	<ion-button *ngIf="file" color="buttonBlue"(click)="uploadJSON($event)" type="submit">Upload</ion-button>
</div>
	</form>
</div>
