// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/////////////////////////////////////////////////////////////////////
//                INPUT DEFAULTS                                   //
/////////////////////////////////////////////////////////////////////
$input-backgroud:#fbfbfb;
$input-border:#dcdcdc;
%input-style {
    //width: 100%;
    //height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: 1.42857;
    font-size: 14px;
    padding: 6px 12px;
    background-color:$input-backgroud;
    border-color: $input-border;
}

input, textarea{
        @extend %input-style;
    }
input:focus, textarea:focus {
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }



/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #000;
    color: #fff;
    text-align: justify;
    padding: 10px;
    border-radius: 6px;
		&.left {
			right: 40%;
			margin-right: -60px;
		}
		&.right {
     left: 50%;
     margin-left: -60px;
		}

    position: absolute;
    z-index: 1;
    bottom: 125%;

    opacity: 0;
    transition: opacity 0.3s;
}



/* callup arrow,
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
		&.right {
    left: 25%;
		}
		&.left {
		right: 25%;
		}
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
*/

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.password-reset {
        background: rgba(0,0,0,0.5);
        color: pink;
        height: 100%;
        width: 100%;

        .popover-content {
                padding: 20px;
                width: 40vw;
        }
}

ion-icon {
  font-size: 1.8em;
}

@media screen and (min-width: 800px){
    .upload-popover .popover-content {
        padding: 30px;
        height: 400px;
        width: 800px !important;
    }

    .team-popover .popover-content {
      padding: 30px;
      height: 400px;
      width: 400px;
    }
}

.small-popover .popover-content{
  width: 300px;
  height: 400px;
  padding: 30px;
}

.scope-popover .popover-content{
  width: 200px;
  padding: 20px;
  height: 200px;

}

.question-history-popup .popover-content{
    // margin-top: -50px;
  width: 800px;
  height: 500px;
  padding: 20px;
}

@media screen and (max-width: 800px){
    .upload-popover .popover-content {
        position: absolute;
        top: 200px;
        left: 40px !important;
        // transform: translate(-50%, -50%);
        padding: 30px;
        height: 400px;
        width: 80% !important;
    }

    .legendpop .popover-content{
      width: 450px;
      // height: 350px;
      padding: 50px;
      // margin: 20px
    }

    .acro-popup .popover-content {
      width: 300px;
      padding: 20px;
    }

    .mobile-nav-pop .popover-content{
      width: 100%;
      height: 100% !important;
      background-color: black;
      // padding: 20px;
      margin: 0;
      position: absolute;
      top: 0 !important;
      left: 0 !important;
      max-height: 100%;
      padding-top: 30px;
      border-radius: 0;

      button {
          font-size: 20px;
          padding: 40px;
      }
    }
}

@media screen and (min-width: 420px) and (max-width: 800px){
  .mobile-nav-pop .popover-content {
      // width: 100% !important;
      // height: 100% !important;
      // max-height: 100% !important;
      // position: absolute;
      // top: 0px;
      // left: 0px;
      // margin: 0;

    button {
        font-size: 30px;
         // padding: 60px;
    }
  }
}
