<topbar [assessmentId]="assessmentId" [pageName]="pageName"></topbar>

<!--
  <ion-navbar>
    <ion-title>definitions</ion-title>
  </ion-navbar>
-->
<ion-content padding>
<!-- <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/> -->




<div class="desktop">
		<ion-grid>
			<ion-row *ngFor="let acronym of acronymsKeys; let even = even">
				<ion-col col-2>
					<ion-item class="acronym" [color]="even ? 'none' : 'light'">{{ acronym }}	</ion-item>
				</ion-col>
				<ion-col col-10>
					<ion-item class="spelled-out" [color]="even ? 'none' : 'light'">{{ acronyms[acronym] }} </ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>
</div>

	<div class="mobile">
		<ion-grid>
			<ion-row *ngFor="let acronym of acronymsKeys; let even = even">
				<ion-col col-4>
					<ion-item class="acronym" [color]="even ? 'none' : 'light'">{{ acronym }}	</ion-item>
				</ion-col>
				<ion-col col-8>
					<ion-item class="spelled-out" [color]="even ? 'none' : 'light'" (click)="presentFullAcronym(acronyms[acronym], $event)">{{ acronyms[acronym] }} </ion-item>
				</ion-col>
			</ion-row>
		</ion-grid>

		<div class="qspacer"></div>
	</div>


</ion-content>
