<!--
  Generated template for the QuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="toolbar-class">
    <div>
      <ion-header>
        <ion-navbar color ="dark" hideBackButton="true">
          <div class = "container-toolbar">
            <img src="../../assets/imgs/docent-logo-f-n-l-1.jpg">
            <div class = "container-tbbuttons">
              <button ion-button color="dark">
                  Assessment
              </button>
              <button ion-button color="dark">
                  Help
              </button>
            </div>
          </div>
          <hr>
          <div class="subheader">
            <div><p>{{this.mainTitle}} / {{this.subTitle}}</p></div>
            <div style="margin-right:20px">
              <p>Target MRL: {{targetMRL}}| Target Date: Date</p>
              <p><u>Show Assessment Scope</u></p>
            </div>
          </div>
        </ion-navbar>
      </ion-header>
    </div>
  </div>


<ion-content padding>
  <br><br><br><br><br><br><br><br><br><br>
  <div class = "nav">
    <div id='surveyElement' class = "questions" (change)="surveyChange()">

    </div>
    <div style="margin-top:10px;display:flex;">
        <button ion-button color="buttonBlue" (click) = "this.surveyJS.prevPage()"><ion-icon name="arrow-dropleft"></ion-icon>Previous</button>
        <button ion-button color="buttonBlue" (click) = "handleNextPageClick()">Next/Skip<ion-icon name="arrow-dropright"></ion-icon></button>
    </div>
  </div>

  <div *ngIf="this.value == 'Yes'" class = "yes">
      <h6>Objective Evidence</h6>
      <textarea [(ngModel)]="yesVals.objectiveEvidence" placeholder="Enter objective evidence here..."></textarea>
      <h6>Assumptions</h6>
      <textarea [(ngModel)]="yesVals.assumptionsYes" placeholder="Enter any assumptions here..."></textarea>
      <h6>Notes</h6>
      <textarea [(ngModel)]="yesVals.notesYes" placeholder="Enter notes here..."></textarea>
      <div style="width:50%;margin:10px 0px 0px 0px;">
        <button (click)="showFileUpload($event)" ion-button color="dark">Attatch File</button>
      </div>
    </div>
  
  
  
    <div *ngIf="value == 'No'" class = "no">
      <h3><b>ACTION PLAN</b></h3>
      <div style="display:flex;flex-direction:row;justify-content:space-between;width:30%;height:60%;">      
        <button >
          <label style="color:#32db64;font-size:16px;" (click)="addPerson(who.value)"><b>Add Action Person</b></label>
          <ion-icon name="add-circle" color = "secondary"></ion-icon>
        </button>
        <button>
          <label style="color:#f53d3d;font-size:16px;" (click)="removePerson()"><b>Remove</b></label>
          <ion-icon name="remove-circle" color = "danger"></ion-icon>
        </button>
      </div>
      <br>
      <br>
      <div class="who-when">
        <div style="display:flex; flex-direction:column">   
          <li *ngFor = "let persons of actionPerson">
            <pre>{{persons}}</pre>
          </li>
          <h6>Who</h6>
          <input [(ngModel)]="noVals.who" name="who" style="width: 200%;" #who>
        </div>
        <div style="display:flex; flex-direction:column">
          <h6>When</h6>
          <input [(ngModel)]="noVals.when" name= "when" type="date" >
        </div>
      </div>
      <h6>Risk</h6>
      <div class="risk">
        Technical<input [(ngModel)]="noVals.technical" type="checkbox"> 
        Cost<input [(ngModel)]="noVals.cost" type="checkbox"> 
        Schedule<input [(ngModel)]="noVals.schedule" type="checkbox"> 
      </div>
      <h6>What</h6>
      <textarea [(ngModel)]="noVals.what" placeholder="What needs to be done to meet this objective?"></textarea>
      <h6>Reason</h6>
      <textarea [(ngModel)]="noVals.reason" placeholder="Reason that criteria is not met..."></textarea>
      <h6>Assumptions</h6>
      <textarea [(ngModel)]="noVals.assumptionsNo" placeholder="Enter any assumptions here..."></textarea>
      <h6>Notes</h6>
      <textarea [(ngModel)]="noVals.notesNo" placeholder="Enter notes here..."></textarea>
      <div style="width:50%;margin:10px 0px 0px 0px;">
          <button (click)="showFileUpload($event)" ion-button color="dark">Attatch File</button>
      </div>
    </div>
  
    <br><br>
  
    <div *ngIf="value == 'N/A'" class = "na">
      <h6>Documentation</h6>
      <textarea [(ngModel)]="naVals.documentation" placeholder="Document why this question is not applicable..."></textarea>
      <hr>
      <h6>Assumptions</h6>
      <textarea [(ngModel)]="naVals.assumptionsNA" placeholder="Enter any assumptions here..."></textarea>
      <h6>Notes</h6>
      <textarea [(ngModel)]="naVals.notesNA" placeholder="Enter notes here..."></textarea>
      <div style="width:50%; margin:10px 0px 0px 0px;">
        <button (click)="showFileUpload($event)" ion-button color="dark">Attatch File</button>
      </div>
    </div>

</ion-content>
