page-questions {
$input-backgroud:#fbfbfb;
$input-border:#dcdcdc;
%input-style{
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: 1.42857;
    font-size: 14px;
    padding: 6px 12px;
    background-color:$input-backgroud;
    border-color: $input-border;
}
.risk select {
    @extend %input-style;
    height: 30px;
    width: 9vw;
}
%down-arrow{
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image:url('../../assets/imgs/if_icon-arrow-down.png');
    padding: .5em;
    padding-right: 1.5em;
}
.toolbar-class{
    header{
        color:#000;
    }
    img{
        margin-left: 10px;
        margin-top: 10px
    }
    p{
        visibility: visible !important;
    }
    hr {
        height: 1px !important;
        width: 98% !important;
        background:grey!important;
        display: block !important;
        font-size: 2em !important;
        visibility: visible !important;
    }
}
.subheader{
    display: flex;
    justify-content: space-between;
    color:white;
    margin-left:13px;
}
.nav-wrapper{
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-bottom: 10px;
    select{
        margin-bottom: 10px;
        width:100%;
        @extend %input-style;
        @extend %down-arrow;
        -webkit-appearance: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }
}
.choose-one{
    width: 48%;
    padding: 10px 0px 30px 0px;
    select{
        @extend %input-style;
        @extend %down-arrow;
        -webkit-appearance: none;
    }
}
.yes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    textarea{
        @extend %input-style;
        resize:none;
        // width: 48%;
    }
    textarea:focus {
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
}
.no{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    ion-icon{
        font-size:20px;
    }
    .who-when{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        // width:48%;
        height: 100%;
        list-style-type: none;
        margin-left: -10px;

        .who {
            display: flex;
            flex-direction: column;

            #no-who-input {
                width: 200%;
            }
        }

        .when {
            display: flex;
            flex-direction: column;
        }
    }


    input{
        @extend %input-style;
        width: 100%;
        height: 100%;
    }
    textarea{
        @extend %input-style;
        resize:none;
        height:100%;
//        width: 48%;
    }
    textarea:focus {
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
    .up-btn{
        width:10%;
    }
}
.na{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    textarea{
        @extend %input-style;
        resize:none;
//        width: 48%;
    }
    textarea:focus {
        outline:none;
        border-color:#9ecaed;
        box-shadow:0 0 10px #9ecaed;
    }
}
.risk{
    display: flex;
		align-items: center;
    width: 25%;
    margin:20px;
		.label {
			text-align: right;

		}
}
.questions{
    input{
        margin:10px 0px 0px 0px;
        @extend %input-style
    }
}
.default{
    height:20%;
    width: 48%;
    textarea{
        @extend %input-style;
        resize: none;
    }
}
  .qspacer {
    font-size: 0;
    height: 250px;
    line-height: 0;
    border: 0px;
    /* testing only */
     // border: 1px solid red;
     width: 100%;
  }

  .attach {
      width:50%;
      margin:10px 0px 0px 0px;
  }

.helpButton{
    // display: flex;
    width: 70%;
    // min-width: 100px;
    // max-width: 300px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.q-answer {
    width: 98%;
    margin-bottom: 0px;
    height: 30px;
}

.helpTextDiv {
    // display: flex;
    background-color: #ededed;
    width: 98%;
    height: auto;
    margin: 3px;
    // margin-top: 1px;

    p {
        padding: 10px;
    }
    .acronymHere {
        color: gray;
    }

  }

  .nav-q-buttons {
    // display: flex;
    // margin: 0;
    position: fixed;
    right: 10px;
    top: 240px;
  }

  .nav-previous-qs {
      position: fixed;
      right: 10px;
      bottom: 10px;
      width: 300px;
      height: 250px;
      background-color: #DCDCDC;
      border-radius: 5px;
      text-align: center;
      padding-top: 10px;

      p {
    background-color: #B4B4B4;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0 10px 10px;
    margin: 0;

  }

    h6 {
      color: #494949;
    }

    a {
    color: black;

    }
  }

  .displayFiles {
      margin-top: 20px;
  }

  @media screen and (min-width: 1660px) and (max-width: 2600px){
      .no {
          .who-when{

          }
      }
  }



  @media screen and (max-width: 1024px){
    ion-content {
        // margin-top: 50px;
        margin-bottom: 100px;

    }

    .nav-q-buttons {
        // position: absolute;
        // top: -60px;
        // left: 10px;
        position: static;
        right: clear;
        top: clear;
        margin-bottom: 15px;
        margin-left: 10px;

        width: 100%;
        button {
            width: 30%;
        }

    }

    .nav-wrapper {
        width: 100%;
        position: relative;


    }

    .yes {
        width: 100%;
        h6, textarea {
            width: 100%;

        }
    }

    .no {
        width: 100%;
        height: 100%;
        margin-bottom: 200px;
        // margin-bottom: 30px;

        h6, textarea {
            width: 100%;
            padding: 4px;
        }

        textarea {
            padding: 5px 5px 80px 2px ;
        }

            .who-when{
                width: 100%;
                margin: 5px;
                margin-top: 0px;
                .who {
                    display: block !important;
                    padding: 10px;
                    width: 100%;

                    input {
                        width: 100% !important;
                        padding: 20px;
                    }
                }

                .when {
                    display: block !important ;
                    padding: 10px;
                    width: 100%;

                    input {
                        width: 100% !important;
                        padding: 20px;
                    }

                }
            }


        .risk-text{
            margin-top: 100px;
            display: block;
        }

        .risk {
            width: 100%;
            margin-top: 20px;
            margin-left: 0;
            margin-right: 0;
            padding-right: 20px;
            .label {
                text-align: center;
                padding: 0;
                margin: 0;
                width: 30%;
            }

        }

    }

    .na {
        width: 100%;

        h6, textarea {
            width: 100%;
        }
    }



    .attach {
        margin-bottom: 100px !important;
    }

    .qspacer {
        background-color: transparent;
    }

    .no {
      .displayFiles {
          padding-top: 65px;
      }
    }





}

@media screen and (min-width: 421px) and (max-width: 1024px){
    ion-content {
        margin-top: 70px;
    }
}
}

	$basic-cell-size: 4vw;
	%digit-cell{
		width: $basic-cell-size;
    height: $basic-cell-size;
		border: solid black 2px;
    filter: brightness(120%);
	}

	.low-risk-cell{
		background-color: green;
		@extend %digit-cell;
	}
	.med-risk-cell{
		background-color: yellow;
		@extend %digit-cell;
	}
	.high-risk-cell{
		background-color: red;
		@extend %digit-cell;
	}

  .selected {
    border: 7px solid black;
  }

