<ion-card class="info-card-wrapper">
  <ion-card-header>
    <ion-card-title>Assessment Information</ion-card-title>
  </ion-card-header>

  <ion-card-content class="info-card-content">
    <p><b>Assessment Name:</b> {{name}}</p>
    <p><b>Target MRL:</b> {{targetMRL}}</p>
    <p><b>Target Date:</b> {{targetDate | date: 'mediumDate'}}</p>
    <p><b>Location:</b> {{location}}</p>
    <p><b>Team Members:</b>
      <span *ngFor="let member of teamMembers">
        <ng-container *ngIf="member.role">
          {{member.name}} at {{member.email}} as {{member.role}}
        </ng-container>
        <ng-container *ngIf="!member.role">
          {{member.name}} at {{member.email}}
        </ng-container>
      </span>
    </p>
    <!-- <p><b>Additional Information:</b> {{scope}}</p> -->
    <ul>
      <li ></li>
    </ul>
  </ion-card-content>
</ion-card>
