page-risk-report {
  ion-content {
    margin-top: 120px;
  }

  .wrapper {
    margin-top: 0px;
    width: 100%;
    padding: 20px;


    // border: 1px solid black;

    .thread-object {
      // border: 1px solid red;
      padding: 10px;

      h2, h4, h6, p {
        margin-top: 0;
        margin-bottom: 0;

      }

      p {
        margin-top: 2px;
        font-size: 14.5px;
      }



      .subthread {
        // border: 1px solid green;
        padding: 2px;
        margin: 2px;
        margin-top: 6px;

        .questions-wrapper {
          // border: 1px solid blue;
          padding: 2px;
          margin: 2px;

          .question {
            // border: 1px solid purple;
            padding: 2px;
            margin: 2px;

            .extra-risk {
              padding: 2px 2px 2px 15px;
              // border: 1px solid lightblue;
              margin: 2px;
            }
          }
        }
      }

    }
  }

  .qspacer {
    font-size: 0;
    height: 250px;
    line-height: 0;
    border: 0px;
    /* testing only */
     // border: 1px solid red;
     width: 100%;
  }

  .risk-header {
    width: 100%;
    h2{
      text-align: center;
      // border: 1px solid black;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 1024px){
    .export-toolbar {
      display: none;
    }
  }

  @media screen and (min-width: 420px) and (max-width: 1024px){
    ion-content{
      margin-top: 150px;
    }
  }
}
