
    .wrapper {
        margin-top: 120px;
    }
    .toolbar-class{
        header{
            color:#000;
        }
        img{
            margin-left: 10px;
            margin-top: 10px
        }
        hr {
            height: 1px !important;
            width: 98% !important;
            background:grey !important;
            display: block !important;
            font-size: 2em !important;
            visibility: visible !important;
            }

    }

    .status-button {
        width: 100px;
        text-transform: uppercase;
    }
    .subheader{
        display: flex;
        justify-content: space-between;
        color:white;
        margin-left:13px;
        //flex-direction: row-reverse;
    }
    .downArrow{
        height:14;
        width:14;
        cursor: pointer;
    }
    .question{

    }
    .mrl{
        margin-left:40px;
        margin-top:10px;
        padding-bottom: 10px;
    }
    .subtitle{
        margin-left:20px;
        margin-top:10px;
    }
    .navigate-links {
      color: darkslateblue;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .extraspace {
      flex-grow: 1;
    }

    .filter-toolbar {
        list-style-type: none;
        height: 70px;
        // background-color: blue;
        // position: absolute;
        // top: 150px;
        // left: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        z-index: 9999;
        padding-left: 20px;
        padding-top: 15px;
        border-bottom: .5px solid lightgray;

        button {
            // display: inline-block;
            width: 20%;
        }

        .filter-list {
            width: 60%;
            float: right;
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;

             p {
                // width: 10%;
                width: fit-content;
                // margin-left: 10px;
                padding-right: 10px;
                margin: 0;
            }
            select {
                width: 20%;
                // vertical-align: middle;
                margin: 0 5px;
            }


            .filter-buttons {
                margin: 0 5px;
                // width: 10%;
                width: 15%;
                // vertical-align: middle;
            }

         }

        }




        .qspacer {
          font-size: 0;
          height: 250px;
          line-height: 0;
          border: 0px;
          /* testing only */
           // border: 1px solid red;
           width: 100%;
        }

        .mobile {
          display: none;
        }

        .desktop {
          background-color: #F5F5F5;
          width: 100%;
          padding: 10px 0;
        }

        .thread-card {
          width: 60%;
          margin: 15px auto;
          .subthread-card {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }

        @media screen and (max-width: 1024px){
          .desktop {
            display: none;
          }

          .mobile {
            display: inherit;
            margin-top: 10px;
            width: 100%;
          }

          .thread-card {
            width: 100%;
          }

          .thread-name {
              padding: 15px 0px 10px 5px;
              border-bottom: .5px solid lightgray;
              border-top: .5px solid lightgray;
              width: 100%;

          }

          .subthread-name {
              padding: 20px 0px 10px 5px;
              // border-bottom: .5px solid lightgray;
              background-color: #F3F3F3;
              width: 100%;

          }

          .downArrow{
              vertical-align: middle;
              padding-bottom: 3px;
              width: 12px;
              height: 12px;
          }

          .mrl {
              margin: 0;
              padding-left: 5px;
              padding-top: 10px;
              // padding-bottom: 10px;
          }

          .extraspace {
            visibility: hidden;
          }
          .filter-toolbar {
            flex-wrap: wrap;
            padding-left: 5px;
            height: auto;
            float: none;
            .extraspace {
              visibility: hidden;
            }
            .button {
              width: 100%;
            }
            .filter-list{
              width: 100%;
              flex-wrap: wrap;
              justify-content: center;
              p {
               margin: 5px 0;
                width: 50%;
              }
              select {
                margin: 5px;
                width: 40%;
              }
              .filter-buttons {
                margin: 5px;
                width: 45%;
              }
            }
          }



            .wrapper {
                margin-top: 120px;

                .qspacer {
                    display: inherit;
                    font-size: 0;
                    height: 250px;
                    line-height: 0;
                    border: 0px;
                    /* testing only */
                     // border: 1px solid red;
                     width: 100%;
              }
            }
        }

        @media screen and (min-width: 420px) and (max-width: 1024px){
          .wrapper {
            margin-top: 160px;
          }
        }
