<topbar [assessmentId]="assessmentId"
              [pageName]="pageName">
</topbar>

<ion-content class="wrapper ion-padding">

  <!-- <br><br><br><br><br><br><br><br><br><br> -->

  <report-info-card [assessmentId]="assessmentId"></report-info-card>

  <div class="filter-toolbar">
    <ion-button *ngIf="!showAll" (click)="expandAllThreads()" color="buttonBlue">Expand All</ion-button>
    <ion-button *ngIf="showAll" (click)="expandAllThreads()" color="buttonBlue">Close All</ion-button>
    <div class="extraspace"></div>
    <div class="filter-list">
      <div class="extraspace"></div>
      <p>Filter MR Level: </p>
      <select name="filterMRL" id="filter-mrl-select" [(ngModel)]="filterList.filterMRL">
        <option value="" disabled selected>Select One...</option>
        <option value = "All Levels"></option>
        <option value = "1">1</option>
        <option value = "2">2</option>
        <option value = "3">3</option>
        <option value = "4">4</option>
        <option value = "5">5</option>
        <option value = "6">6</option>
        <option value = "7">7</option>
        <option value = "8">8</option>
        <option value = "9">9</option>
        <option value = "10">10</option>
      </select>
      <p>Filter Answer Type: </p>
      <select name="filterAnswer" id="filter-answer-select" [(ngModel)]="filterList.filterAnswer">
        <option value="" disabled selected>Select One...</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
        <option value="N/A">N/A</option>
      </select>
      <ion-button class="filter-buttons" (click)="filterTheList()" size="small" color="buttonBlue">Filter</ion-button>
      <ion-button class="filter-buttons" size="small" (click)="clearFilter()" color="buttonBlue">Clear</ion-button>
    </div>
  </div>
  <div class="desktop">

  <ion-card *ngFor="let segment of filteredSchema" class="thread-card">
    <ion-card-header>
      <ion-card-title><img src="assets/imgs/if_icon-arrow-down.png" (click)="changeState(segment)" class= "downArrow" > {{segment.header}}</ion-card-title>
    </ion-card-header>
    <div *ngIf="segment.cool || showAll">
      <ion-card *ngFor="let sub of segment.subheader" class="subthread-card">
        <ion-card-header>
          <ion-card-title><img src="assets/imgs/if_icon-arrow-down.png" class= "downArrow" (click)="changeSubState(sub)" class="subtitle"> {{sub.subheader}}</ion-card-title>
        </ion-card-header>
        <div *ngIf="sub.sweet || showAll">
          <div *ngFor="let question of sub.questions" class="mrl">
            <h6><b>MR Level {{question.mrl}}:</b></h6>
            <div *ngFor="let title of question.questionSet" class="question">
              <h5 class="navigate-links"  (click)="navToQuestion(title.questionId)">
                  <span *ngIf="title.questionStatus">
                    <ion-button size="small" [color]="pickColor(title.questionStatus)" class="status-button">
                          {{title.questionStatus}}
                      </ion-button>
                  </span>
                  {{title.text}}
              </h5>
            </div>
          </div>
        </div>
      </ion-card>
    </div>
    <!-- <hr> -->
  </ion-card>
  </div>

  <div class="mobile">
    <div *ngFor="let segment of filteredSchema">
      <div class="thread-name" (click)="changeState(segment)">
        <h3>{{segment.header}} <span><img src="assets/imgs/if_icon-arrow-down.png" class= "downArrow" ></span></h3>
      </div>

      <div *ngIf="segment.cool || showAll">
        <div *ngFor="let sub of segment.subheader">
          <div class="subthread-name" (click)="changeSubState(sub)">
            <h5>{{sub.subheader}} <span><img src="assets/imgs/if_icon-arrow-down.png" class= "downArrow"></span></h5>

          </div>

          <div *ngIf="sub.sweet || showAll">
            <div *ngFor="let question of sub.questions" class="mrl">
              <b>MR Level {{question.mrl}}:</b>
              <div *ngFor="let title of question.questionSet" class="question">
                <p class="navigate-links"  (click)="navToQuestion(title.questionId)">
										<span *ngIf="title.questionStatus">
											<ion-button size="small" [color]="pickColor(title.questionStatus)" class="status-button">
														{{title.questionStatus}}
                        </ion-button>
										</span>
										{{title.text}}
								</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr> -->
    </div>
  </div>

  <div class="qspacer"></div>

</ion-content>
