page-page-2 {
    $input-backgroud:#fbfbfb;
    $input-border:#dcdcdc;
    %input-style{
        width: 100%;
        height: 100%;
        display: inline-block;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 2px;
        line-height: 1.42857;
        font-size: 14px;
        padding: 6px 12px;
        background-color:$input-backgroud;
        border-color: $input-border;
    }
    %down-arrow{
        background-position: right 50%;
        background-repeat: no-repeat;
        background-image:url('../../assets/imgs/if_icon-arrow-down.png');
        padding: .5em;
        padding-right: 1.5em;   
    }
    .toolbar-class{
        header{
            color:#000;
        }
        img{
            margin-left: 10px;
            margin-top: 10px
        }
        p{
            visibility: visible !important;
        }
        hr {
            height: 1px !important;
            width: 98% !important;
            background:grey!important;
            display: block !important;
            font-size: 2em !important;
            visibility: visible !important;
        }
    }
    .subheader{
        display: flex;
        justify-content: space-between;
        color:white;
        margin-left:13px;
    }
    .choose-one{
        width: 48%;
        padding: 10px 0px 30px 0px;
        select{
            @extend %input-style;
            @extend %down-arrow;
            -webkit-appearance: none;
        }
    }
    .yes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        textarea{
            @extend %input-style;
            resize:none;
            width: 48%;
        }
        textarea:focus { 
            outline:none;
            border-color:#9ecaed;
            box-shadow:0 0 10px #9ecaed;
        }
    }
    .no{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        ion-icon{
            font-size:20px;
        }
        .who-when{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            width:48%;
            height: 100%;
            list-style-type: none;
        }
        input{
            @extend %input-style;
            width: 100%;
            height: 100%;
        }
        textarea{
            @extend %input-style;
            resize:none;
            width: 48%;
        }
        textarea:focus { 
            outline:none;
            border-color:#9ecaed;
            box-shadow:0 0 10px #9ecaed;
        }
        .up-btn{
            width:10%;
        }
    }
    .na{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        textarea{
            @extend %input-style;
            resize:none;
            width: 48%;
        }
        textarea:focus { 
            outline:none;
            border-color:#9ecaed;
            box-shadow:0 0 10px #9ecaed;
        }
    }
    .risk{
        display: flex;
        width: 25%;
        margin:20px;
    }
}
