<!--
  Generated template for the Page_2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="toolbar-class">
  <div>
    <ion-header>
      <ion-navbar color ="dark">
        <div class = "container-toolbar">
          <img src="../../assets/imgs/docent-logo-f-n-l-1.jpg">
          <div class = "container-tbbuttons">
            <button ion-button color="dark">
                Assessment
            </button>
            <button ion-button color="dark" (click)="showPopover($event)">
                Help
            </button>
          </div>
        </div>
        <hr>
        <p>Technology Maturity / Technology Maturity</p>
      </ion-navbar>
    </ion-header>
  </div>
</div>

<ion-content padding>
  <!--
    ## Stuff that kind of works
    <button icon-only (click)="pageSelect($event)">
      <ion-icon name="subway"></ion-icon>
    </button>
  -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1></h1>
  <div class = "choose-one">
    <h1>Is this at a TRL of # or greater?</h1>
      <select [(ngModel)]="choice" interface="popover">
        <option disabled selected>Select One...</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <option value="na">N/A</option>
      </select>
  </div>
  <div *ngIf="choice == 'yes'" class = "yes">
      <button >
          <ion-icon name="add-circle" color = "secondary"></ion-icon>
      </button>
      <button >
          <ion-icon name="remove-circle" color = "danger"></ion-icon>
      </button>
    <textarea></textarea>
    <textarea></textarea>
    <textarea></textarea>
  </div>
  <div *ngIf="choice == 'no'" class = "no">
    <textarea></textarea>
    <textarea></textarea>
    <textarea></textarea>
  </div>
  <div *ngIf="choice == 'na'" class = "na">
    <textarea></textarea>
    <textarea></textarea>
    <textarea></textarea>
  </div>
</ion-content>
