<style type="text/css" media="screen">
table {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

table td {
    border-width: 1px;
    padding: 1px;
    border-color: gray;
    background-color: white;
    -moz-border-radius: ;
}

table th {
    border-width: 1px;
    padding: 1px;
    border-color: gray;
    background-color: white;
    -moz-border-radius: ;
}

</style>

<topbar [assessmentId]="assessmentId"
              [pageName]="pageName"></topbar>


<ion-content padding>
  <br><br><br><br><br><br><br><br><br>
  <div class = "page-one-info">
    <p>
      <b>Target MRL: </b>{{targetMRL}}<br/><br>
      <b>Target Date: </b> {{targetDate}}<br/><br>
      <b>Location: </b>{{location}}<br/><br>
      <b>Team Members: </b>{{team}}<br/><br>
      <b>Scope: </b>{{scope}}<br/><br>
    </p>
    <hr>
  </div>



<table> 

    <tr>
        <th colspan="7" style="width:100%; text-align: center; border-color: 1px solid black;"> 
            MRL 6 Criteria Summary
        </th>
    </tr>

    <tr>
        <th style="border: 1px solid black;" width="20%">Threads</th>
        <th style="border: 1px solid black;" width="40%">Subthreads</th>
        <th style="border: 1px solid black;">Criteria 1</th> 
        <th style="border: 1px solid black;">Criteria 2</th> 
        <th style="border: 1px solid black;">Criteria 3</th> 
        <th style="border: 1px solid black;">Criteria 4</th> 
        <th style="border: 1px solid black;">Criteria 5</th> 
    </tr>

    <tr *ngFor = "let subThread of threadsArr" style="border-width 1px; border-spacing: 2px; border-color: black;" width="100%"> 

<!--        <tr *ngFor = "let subthread of threads[thread]['subThreads']" style="border-width 1px; border-spacing: 2px; border-color: black;" width="100%"> -->



            <td style="border: 1px solid black;"><font color="red">{{threads[subThread]["threadName"]}}</font></td>
            <td style="border: 1px solid black;"><font color="blue">{{subThread}}</font></td>

            <td [ngStyle]="{'background-color':threads[subThread]['aggRiskColor'][1]}">{{threads[subThread]['aggRisk'][1]}}&nbsp;</td>
            <td [ngStyle]="{'background-color':threads[subThread]['aggRiskColor'][2]}">{{threads[subThread]['aggRisk'][2]}}&nbsp;</td>
            <td [ngStyle]="{'background-color':threads[subThread]['aggRiskColor'][3]}">{{threads[subThread]['aggRisk'][3]}}&nbsp;</td>
            <td [ngStyle]="{'background-color':threads[subThread]['aggRiskColor'][4]}">{{threads[subThread]['aggRisk'][4]}}&nbsp;</td>
            <td [ngStyle]="{'background-color':threads[subThread]['aggRiskColor'][5]}">{{threads[subThread]['aggRisk'][5]}}&nbsp;</td>
    </tr>   

</table>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</ion-content>
