
<topbar [assessmentId]="assessmentId"
              [pageName]="pageName"></topbar>




<ion-content padding>

  <report-info-card [assessmentId]="assessmentId"></report-info-card>

<div class="table-wrapper" >


  <div class="toolbar">
    <button ion-button (click)="saveXLS()" color="buttonBlue">Export to .XLS</button>
  </div>


<table>
    <tr>
        <th colspan="7" style="width:100%; text-align: center; border-color: 1px solid black;">
            MRL {{targetMRL}} Criteria Summary
        </th>
    </tr>

    <tr>
        <th style="border: 1px solid black;" width="20%">Threads</th>
        <th style="border: 1px solid black;" width="40%">Subthreads</th>
        <th style="border: 1px solid black;">Criteria 1</th>
        <th style="border: 1px solid black;">Criteria 2</th>
        <th style="border: 1px solid black;">Criteria 3</th>
        <th style="border: 1px solid black;">Criteria 4</th>
        <th style="border: 1px solid black;">Criteria 5</th>
    </tr>

  <ng-container *ngFor="let thread of schema">
    <tr *ngFor = "let subThread of thread.subheaders" style="border-width 1px; border-spacing: 2px; border-color: black;" width="100%">

<!--        <tr *ngFor = "let subthread of threads[thread]['subThreads']" style="border-width 1px; border-spacing: 2px; border-color: black;" width="100%"> -->



            <td style="border: 1px solid black;"><font color="black">{{thread.header}}</font></td>
            <td style="border: 1px solid black;"><font color="black">{{subThread.subThreadName}}</font></td>

            <td *ngFor="let score of subThread.riskScores" [ngStyle]="{'background-color': setRiskColor(score)}" style="border: 1px solid black; text-align: center">{{score}}</td>

            <ng-container *ngIf="subThread.riskScores.length < 5">
              <td *ngFor="let item of extraFields(subThread.riskScores.length)" [ngStyle]="{'background-color': setRiskColor('')}" style="border: 1px solid black; text-align: center"> </td>
            </ng-container>

    </tr>
    </ng-container>



</table>


</div>

<br>

<div class="table-wrapper" *ngIf="!noExtraQuestions">

  <div class="toolbar">
    <button ion-button (click)="saveXLSExtra()" color="buttonBlue">Export to .XLS</button>
  </div>


  <table>

      <tr>
          <th colspan="7" style="width:100%; text-align: center; border-color: 1px solid black;">
               Criteria Summary for Non Target MRLs
          </th>
      </tr>

      <tr>
          <th style="border: 1px solid black; width: 5%;">MRL</th>
          <th style="border: 1px solid black; width: 20%">Threads</th>
          <th style="border: 1px solid black; width: 36%">Subthreads</th>
          <th style="border: 1px solid black; width: 8%">Criteria 1</th>
          <th style="border: 1px solid black; width: 8%">Criteria 2</th>
          <th style="border: 1px solid black; width: 8%">Criteria 3</th>
          <th style="border: 1px solid black; width: 8%">Criteria 4</th>
          <th style="border: 1px solid black; width: 8%">Criteria 5</th>
      </tr>

    <ng-container *ngFor="let thread of nonLevelSchema">
      <tr *ngFor = "let subThread of thread.subheaders" style="border-width 1px; border-spacing: 2px; border-color: black;" width="100%">

  <!--        <tr *ngFor = "let subthread of threads[thread]['subThreads']" style="border-width 1px; border-spacing: 2px; border-color: black;" width="100%"> -->


              <td style="border: 1px solid black;"><font color="black">{{subThread.mrl}}</font></td>
              <td style="border: 1px solid black;"><font color="black">{{thread.header}}</font></td>
              <td style="border: 1px solid black;"><font color="black">{{subThread.subThreadName}}</font></td>

              <td *ngFor="let score of subThread.riskScores" [ngStyle]="{'background-color': setRiskColor(score)}" style="border: 1px solid black; text-align: center">{{score}}</td>

              <ng-container *ngIf="subThread.riskScores.length < 5">
                <td *ngFor="let item of extraFields(subThread.riskScores.length)" [ngStyle]="{'background-color': setRiskColor('')}" style="border: 1px solid black; text-align: center"> </td>
              </ng-container>

      </tr>
      </ng-container>



  </table>
</div>


<div class="qspacer"></div>

</ion-content>
