<style type="text/css" media="screen">
table {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: gray;
    border-collapse: separate;
    background-color: white;
}

table td {
    border-width: 1px;
    padding: 1px;
    border-color: gray;
    background-color: white;
    -moz-border-radius: ;
}


</style>

<topbar [assessmentId]="assessmentId"
              [pageName]="pageName"></topbar>


<ion-content padding>
  <br><br><br><br><br><br><br><br><br>
  <div class = "page-one-info">
    <p>
      <b>Target MRL: </b>{{targetMRL}}<br/><br>
      <b>Target Date: </b> {{targetDate}}<br/><br>
      <b>Location: </b>{{location}}<br/><br>
      <b>Team Members: </b>{{team}}<br/><br>
      <b>Scope: </b>{{scope}}<br/><br>
    </p>
    <hr>
  </div>



<table *ngFor = "let thread of threadsArr">
    <i *ngFor = "let subthread of threads[thread]['subThreads']">
        <td><font color="red">{{thread}}</font></td>
        <td>{{subthread}}</td>

    </i>
</table>



</ion-content>
