<!-- Generated template for the MobileNavPopoverComponent component -->
<div>
  <div class='icons'>
    <ng-container *ngIf="assessmentShow || helpShow">
      <!-- <ion-button (click)="goBack()" color="dark" class="arrow-back">Go Back</ion-button> -->
      <ion-icon  src="assets/imgs/arrow-back-outline.svg" (click)="goBack()" class="arrow-back" id="ARROW"></ion-icon>
    </ng-container>
    <!-- <ion-button (click)="closeNav()" color="dark" class="close">Close</ion-button> -->

    <ion-icon src="assets/imgs/close-outline.svg" (click)="closeNav()" class="close"></ion-icon>
  </div>
  <ng-container *ngIf="regularNavShow">
    <ion-button color="dark" expand="full" disabled class="user-name">
      {{this.userName}}
    </ion-button>
    <ion-button *ngIf="auth.isLoggedIn()"  expand="full" (click)="handleLogout()" color="dark">
        Logout
    </ion-button>
    <ion-button expand="full" (click)="handleUserDash()" color="dark">
        Home
    </ion-button>
    <ion-button expand="full" (click)="handleStartNew()" *ngIf="!assessmentId" color="dark">
        Start New Assessment
    </ion-button>
    <ion-button expand="full" (click)="handleContinue()" *ngIf="assessmentId && !noSecondBar" color="dark">
        Continue Assessment
    </ion-button>
    <ion-button *ngIf="assessmentId" expand="full" (click)="showAssessment()" color="dark">
      Reports
    </ion-button>
    <ion-button expand="full" (click)="showHelp()" color="dark">
        Help Menu
    </ion-button>
    <ion-button expand="full" (click)="handleSettings()" color="dark">
        Settings
    </ion-button>
    <!-- <ion-button expand="full" (click)="closeNav()" ion-button color="dark">
        Close
    </ion-button> -->
  </ng-container>

  <ng-container *ngIf="assessmentShow && assessmentId" class="assessment-links" >
      <ion-button expand="full" (click)="handleDashboard()" color="dark">
          MRL Summary
      </ion-button>
      <ion-button expand="full" (click)="handleNavigate()" color="dark">
          Questions List
      </ion-button>
      <ion-button expand="full" (click)="handleReview()" color="dark">
          Review
      </ion-button>
      <ion-button expand="full" (click)="handleActionItems()" color="dark">
          Action Items
      </ion-button>
      <ion-button expand="full" (click)="handleSummary()" color="dark">
          MRL Risk Summary
      </ion-button>
      <ion-button expand="full" (click)="handleRiskReport()" color="dark">
        Detailed Risk Report
      </ion-button>
      <!-- <ion-button expand="full" (click)="closeAssessment()" ion-button color="dark">
          Back
      </ion-button> -->
  </ng-container>

  <ng-container class="help-links" *ngIf="helpShow">
    <ion-button expand="full" (click)="handleCriteria()" color="dark">
        Criteria
    </ion-button>
    <ion-button expand="full" (click)="handleDefinitions()" color="dark">
        Definitions
    </ion-button>
    <ion-button expand="full" (click)="handleAcronyms()" color="dark">
        Acronyms
    </ion-button>
    <ion-button expand="full" (click)="handleFaqs()" color="dark">
        FAQs
    </ion-button>
    <ion-button color="dark" expand="full" (click)="goToDoD()">
        User Guide
    </ion-button>
    <ion-button color="dark" expand="full" (click)="goToDeskbook()">
        MRL Deskbook
    </ion-button>
    <!-- <ion-button (click)="closeHelp()" ion-button color="dark">
        Back
    </ion-button> -->
  </ng-container>

</div>
