<!-- TODO: style this to look more like the dropdown -->
<!-- move the inline styles to the .scss -->
<div class="wrapper">
	<!--
                <button ion-button color="dark">
			Criteria
		</button>
        -->
		<button (click)="handleCriteria()" ion-button color="dark" id="criteria-button">
			Criteria
		</button>
		<button (click)="handleDefinitions()" ion-button color="dark" id="definitions-button">
			Definitions
		</button>
		<button (click)="handleAcronyms()" ion-button color="dark" id="acronyms-button">
			Acronyms
		</button>
		<button (click)="handleFAQ()" ion-button color="dark" id="faqs-button">
			FAQs
		</button>
		<a href="http://www.dodmrl.com/MRL_Deskbook_2017.pdf" ion-button color="dark" id="users-guide-button">
				User's Guide
		</a>
		<a href="http://dodmrl.com/" ion-button color="dark" id="mrl-deskbook-button">
			MRL Deskbook
		</a>
</div>
