<!-- TODO: style this to look more like the dropdown -->
<!-- move the inline styles to the .scss -->
<div style="display:flex;flex-direction:column;background-color:black">
	<!--
                <button ion-button color="dark">
			Criteria
		</button>
        -->
		<button [navPush]="criteriaPage" ion-button color="dark">
			Criteria
		</button>
		<button [navPush]="definitionsPage" ion-button color="dark">
			Definitions
		</button>
		<button [navPush]="acronymsPage" ion-button color="dark">
			Acronyms
		</button>
		<button [navPush]="faqsPage" ion-button color="dark">
			FAQs
		</button>
</div>
