register {
	input {
		width: 25vw;
		height: inherit
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.submit-container{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
	}

	.col {
		display: flex;
		flex-direction: column;

	}

	.row {
		margin-bottom: 2vh;
	}

	.cell {
		margin-right: 2vh;
		margin-left:  2vh;
	}

	h1 {
		margin-bottom: 3vh;
	}

	.error {
		padding: 2vw;
		margin-bottom: 1vw;
		background: pink;
		border-radius: 2vh;
	}


	@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
	input {
		width: 80vw;
	}

	.cell {
		margin-top: 2vh;
		margin-left: 0;
	}

	.container {
		align-items: flex-start;
		justify-content: flex-start;
		margin-left: 20px;

	}

	.submit-container {
		align-items: baseline;
	}

	.register-title {
		font-size: 1.5em;
	}
}

}
