<div id="page-container">
        <div id="top-container">
				<h1 id="header">Register</h1>
        <h6 *ngIf="this.errors.length > 0"class="register-error">there are errors with your registration</h6>
        <h6 *ngIf="this.errors.length == 0"class="blank">there are errors with your registration</h6>
        </div>
        <div>
			<div id="register-container">

        <div>
                <div style="display:flex; justify-content:space-between">
						<h5>Name</h5>
            <h6 *ngIf="checkError('name')"class="register-error">enter a name</h6>
                </div>
					<input  type="text" name="name" [(ngModel)]="user.name">
        </div>
        <div>
                <div style="display:flex; justify-content:space-between">
						<h5>Email</h5>
            <h6 *ngIf="checkError('email')" class="register-error">enter an email</h6>
            <h6 *ngIf="checkError('dupe')" class="register-error">that email is in use</h6>
                </div>
					<input  type="email" name="emaial" [(ngModel)]="user.email">
        </div>

         <div> 
                <div style="display:flex; justify-content:space-between">
						<h5>Password *</h5>
            <h6 *ngIf="checkError('no_match')" class="register-error">passwords don't match</h6>
            <h6 *ngIf="checkError('passwd')" class="register-error">enter a password</h6>
                </div>
							<input  type="password" name="passwd" [(ngModel)]="user.passwd">
				 </div>

         <div> 
                <div style="display:flex; justify-content:space-between">
						<h5>Repeat Password</h5>
            <h6 *ngIf="checkError('passwd2')" class="register-error">enter a password</h6>
                </div>
							<input  type="password" name="passwd" [(ngModel)]="user.passwd2">
				 </div>

          <div id="button-container">
				      <button ion-button color="buttonBlue" (click)="submitRegistration()">Register</button>
          </div>

          <div id="password-rules">
                  <h6> * passwords must be at least 10 characters in length, with at least one digit, special character, and uppercase letter.  </h6> 
          </div>

      </div>
      <div style="display: flex; justify-content: flex-end">
          <h6 (click)="toggle()" id="register-link"> Back to Login </h6>
      </div>
      <div *ngIf="registerSelected "style="display: flex; justify-content: flex-end">
          <h6 id="register-link"> back to Login </h6>
      </div>

     </div>
</div>
