<topbar [assessmentId]="assessmentId"
              [pageName]="pageName"></topbar>


<ion-content padding>

  <report-info-card [assessmentId]="assessmentId"></report-info-card>

  <div class="toolbar">
    <button ion-button (click)="saveXLS()" color="buttonBlue">Export to .XLS</button>
  </div>

  <div class = "survey-info">
    <li *ngFor = "let question of allQuestions">
      <div *ngIf = "question.currentAnswer == 'N/A'" class = "na">
				<!-- TODO: These question Text p tags can be re-used <01-08-18, mpf> -->
        <p (click)="goToQuestion(question.questionId)"style="color:blue;cursor: pointer;">{{question.questionText}}</p>
        <p class = "box"><b>N/A</b></p>
          <b>Attachments:</b> {{question.attatchements}}
					<ul>
					<ng-container *ngFor = "let file of files">
						<ng-container *ngIf = "file.questionId == question.questionId">
							<li><a (click)="openFile(file.url)" >{{file.name}}</a></li>
						</ng-container>
					</ng-container>
					</ul>
        <hr>
      </div>
      <div *ngIf = "question.currentAnswer == 'No'" class = "no">
        <p (click)="goToQuestion(question.questionId)" style="color:blue;cursor: pointer;">{{question.questionText}}</p>
        <p class = "box"><b>No</b></p>
          <b>Attachments:</b>
					<ul>
					<ng-container *ngFor = "let file of files">
						<ng-container *ngIf = "file.questionId == question.questionId">
							<li><a (click)="openFile(file.url)" >{{file.name}}</a></li>
						</ng-container>
					</ng-container>
					</ul>
        <hr>
      </div>
      <div *ngIf = "question.currentAnswer == 'Yes'" class = "yes">
        <p (click)="goToQuestion(question.questionId)" style="color:blue;cursor: pointer;">{{question.questionText}}</p>
        <p class = "box"><b>Yes</b></p>
        <p>
				<b>Objective Evidence:</b> {{question.objectiveEvidence}} </p>
          <b>Attachments:</b>
					<ul>
					<ng-container *ngFor = "let file of files">
						<ng-container *ngIf = "file.questionId == question.questionId">
							<li><a (click)="openFile(file.url)" >{{file.name}}</a></li>
						</ng-container>
					</ng-container>
					</ul>
        <hr>
      </div>

      <!-- Some dicussion here, we won't see questions that haven't been answered
           in the review page, which seems like the right behavior
           should we decide otherwise, we can include them in the allQuestions var
           and display them like below:
      -->
      <div *ngIf = "!question.currentAnswer" class = "not-answered">
        <p (click)="goToQuestion(question.questionId)" style="color:#0000EE;cursor: pointer;">{{question.questionText}}</p>
        <p class="box"><b>Unanswered</b></p>
        <p>
        </p>
        <hr>
      </div>
    </li>
  </div>

  <div class='qspacer'></div>
</ion-content>
