<topbar [assessmentId]="assessmentId"
              [pageName]="pageName"
              [inAssessment]="inAssessment">
</topbar>

<ion-content padding>
  <br><br><br><br><br>
  <hr>

  <report-info-card [assessmentId]="assessmentIdFromParams"></report-info-card>




<div class="row">
  <div class="toolbar">
    <input *ngIf="config.filtering" placeholder="Filter all columns"
           [ngTableFiltering]="config.filtering"
           class="form-control"
           (tableChanged)="onChangeTable(config)"/>
  <button ion-button color="buttonBlue" (click)="saveXLS()" id="previous-button">Export to .XLS</button>
  </div>
</div>
<br>
<div class="table-wrapper">
<ng-table [config]="config"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
</div>
<!--
<pagination *ngIf="config.paging"
            class="pagination-sm"
            [(ngModel)]="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
-->
<!--
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
-->

<!--
  <div *ngFor="let question of no">
    <p>
      <b>{{question.threadName}}</b> / {{question.subThreadName}} / MR Level: {{question.mrLevel}}
    </p>
    <p (click)="navToQuestion(question.questionId)" style="color:darkslateblue"><b>{{question.questionText}}</b></p>
    <div style="display:flex;">
      <div style="width:40%">
        <p>
          <b>Reason:</b><br>
          {{question.reason}}
        </p>
        <p>
          <b>Action:</b><br>
          {{question.what}}
        </p>
        <p>
          <b>Assumptions:</b><br>
          {{question.assumptionsNo}}
        </p>
      </div>
      <div style="width:40%;">
        <p>
            <b>Risks:</b><br>
						{{displayRisks(question)}}
          </p>
          <p>
            <b>Team Members:</b><br>
            {{question.teamMembers}}
          </p>
          <p>
            <b>Attachments:</b><br>
						<ng-container *ngFor="let attachment of getAttachments(question)">
							<a href={{attachment.url}}>{{attachment.name}}</a><br />
						</ng-container>
          </p>
      </div>
    </div>
    <p><b>Notes:</b></p>
    {{question.notesNo}}
    <hr>
  </div>

-->

</ion-content>
