page-actionitems {


    ion-content {
    fixed-content{
      margin-top: 100px;
      scroll-content{
        margin-top: 100px;
      }
    }
  }
    .toolbar-class{
        header{
            color:#000;
        }
        img{
            margin-left: 10px;
            margin-top: 10px
        }
        hr {
            height: 1px !important;
            width: 98% !important;
            background:grey!important;
            display: block !important;
            font-size: 2em !important;
            visibility: visible !important;
            }
    }
    .subheader{
        display: flex;
        justify-content: space-between;
        color:white;
        margin-left:13px;
    }

    .table {
        width: 100%;
        overflow: scroll;
    }

    .qspacer {
display: inherit;
font-size: 0;
height: 250px;
line-height: 0;
border: 0px;
/* testing only */
// border: 1px solid red;
width: 100%;
}

    // @media screen and (max-width: 800px){
    //       ion-content {
    //           // margin-top: 10px;
    //       }
    //   }
}
