page-actionitems {
    .toolbar-class{
        header{
            color:#000;
        }
        img{
            margin-left: 10px;
            margin-top: 10px
        }
        hr {
            height: 1px !important;
            width: 98% !important;
            background:grey!important;
            display: block !important;
            font-size: 2em !important;
            visibility: visible !important;
            }
    }

    .row {
        // justify-content: space-between;
        margin: 5px 10px;
    input{
        width: 40%;
        display: inline-block;

    }

        button {
            width: auto;
            display: inline-block;
            float: left;
        }
    }
    .subheader{
        display: flex;
        justify-content: space-between;
        color:white;
        margin-left:13px;
    }

    @media screen and (max-width: 800px){
          ion-content {
              // margin-top: 10px;
          }

        .table-wrapper {
            width: 100%;
            overflow: scroll;
        }
      }
}
