.pointer {
  cursor: pointer;
}

.docent-header {
}

.toolbar-class{
  header{
      color: #000;
  }
  img{
      margin-left: 10px;
      margin-top: 10px
  }
  hr {
      height: 0px !important;
      width: 98% !important;
      background:grey!important;
      display: block !important;
      font-size: 2em !important;
      visibility: visible !important;
    }
}

.container-toolbar{
  display: flex;
  justify-content: space-between;
  img{
      padding: 5px;
  }
}

.grayed {
color: gray;
}

.toolbar-logo {
  width: auto;
  height: 100%;
  cursor: pointer;
}

.spacer {
  font-size: 0;
  height: 100px;
  line-height: 0;
}

.downArrow{
    display: none;
}

.subheader {
  position: relative;
  min-height: 80px;


    .scope-show {
      position: absolute;
      bottom: 0px;
      right: 200px;
    }

      .targets-scope {
        position: absolute;
        bottom: 0;
        right: 20px;
      }

      .assessment-info-mobile {
        display: none;
      }

      .show-all {

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .thread-pop-link {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .subthread-pop-link {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }

      }

      .question-pop-link {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

  }

  .scope-link {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .container-tbbuttons-mobile {
    display: none;
  }

  .page-name {
    color: white;
    padding-left: 20px;
    // border-top: 1px solid white;
  }

  .desktop {

  }

  .mobile {
    display: none;
  }




  // @media screen and (max-width: 800px){
  //
  // }

  @media screen and (max-width: 1024px){

    .desktop {
      display: none;
    }

    .mobile {
      display: inherit;
    }


  .main-title {
    // font-size: 100%;
      // font-size: 2rem !important;
      font-size: 1.5em !important;
  }
    .toolbar-class {

      hr {
        display: none !important;
      }
    }

    // .downArrow{
    //     color: white;
    //     background-color: white;
    //     height:14;
    //     width:14;
    //     cursor: pointer;
    // }

    .container-toolbar {
      flex-flow: column wrap;
      padding-top: 20px;


    }
      .toolbar-logo {
        // width: 100%;
        width: 50%;
        height: 50%;
        // justify-content: space-around;
      }
      .container-tbbuttons {
        // display: flex;
        // display: flex;
        // width: 100%;
        // padding-right: 10px;
        // // justify-content: space-around;
        //
        // button {
        //     padding: 0;
        //     padding: 5px;
        // }

        display: none;
      }

      .container-tbbuttons-mobile {
          display: flex;
          position: absolute;
          top: 0;
          right: 0;
          z-index: 9999;
          color: white;
          padding-top: 20px;
          // width: 30px;

          .hamburger-nav {
            font-size: 3em;
          }




      }
      .mobile-link {
        font-weight: bold;
      }

      .subheader {
        .number-info {
          display: inline;
          // .q-number {
          //   text-decoration: none;
          // }
        }
        .targets-scope {
        display: none;

        }

        .assessment-info-mobile {
          display: inherit;
          // text-decoration: underline;

        }
      }






  }
