.new-button {
  margin: 3px;
  background-color: darkslateblue;
}

.container {
  box-sizing: border-box;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column; 
 
}

div > input {
  margin-bottom: 1rem; 
  margin-top: 0;
}

@media screen and (max-width: 1024px){
  .new-button {
    margin: 8px 0 0 1px;
    // margin-top: 8px;
  }

  label, input {
    margin: 5px 0;
  }
}
