.new-button {
  margin: 3px;
  background-color: darkslateblue;
}

.container {
  box-sizing: border-box;
  width: 100%;
}

.title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #373a3c; 
  margin-bottom: 1rem;
  margin-top: 0;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column; 
 
}

div > input {
  margin-bottom: 1rem; 
}

div > label {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px){
  .new-button {
    margin: 8px 0 0 1px;
    // margin-top: 8px;
  }

  label, input {
    margin: 5px 0;
  }
}
