<!-- Generated template for the LoginComponent component -->
<div>
	<!-- TODO: Fix this. -->
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<div class="container">
				<h1 class="login-title">Login to Docent</h1>

				<div class="error" *ngIf="errors.length > 0">
					<h3>Ooops, Login Errors</h3>
					<p *ngFor="let error of errors">
						{{error}}
					</p>
				</div>

				<div style="display:flex; flex-direction:column">
					<div class="row">
						<div class="cell">
							<h6>Email</h6>
							<input  type="email" name="emaial" placeholder = "Email" [(ngModel)]="user.email">
						</div>

						<div class="cell">
							<h6>Password</h6>
							<input  type="password" name="passwd" placeholder = "Password" [(ngModel)]="user.passwd">
						</div>
					</div>
				</div>

				<button ion-button color="buttonBlue" (click)="submitLogin()">Login</button>
			</div>
</div>
