<topbar [assessmentId]="assessmentId"
              [pageName]="pageName"></topbar>


<ion-content class="ion-padding" >

    <report-info-card [assessmentId]="assessmentIdFromParams"></report-info-card>
    <ng-container class="desktop">
      <ion-button *ngIf="!imageDownloading" color="buttonBlue" (click)="downloadPNG()"> Download Image</ion-button>
      <ion-button *ngIf="imageDownloading" color="buttonBlue" [disabled]="true"> Download Image</ion-button>
    </ng-container>

  <div id="desktoper" class="desktop">
  	<div class="legend" style="display:flex; align-items: center; "> <span>subthread passed: </span>
  					<div class="yes dashbox">
            <img class="dashpic" src="assets/imgs/check-mark-256.png">
  					</div>
  				<span>subthread failed</span>
  					<div class="no dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico">
  					</div>
  					<span>subthread unanswered</span>
  					<div class="na dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden;">
  					</div>
  					<span>no subthread at this level</span>
  					<div class="blank dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden">
  					</div>
  	</div>
    <div *ngFor = "let question of questionSet">
      <hr>
        <p><b>{{question.header}}</b></p>
      <hr>
      <div *ngFor = "let answer of question.questions" class="questions">
        <div class="header">
          <p *ngIf="answer.subheader!= 'MR Levels'"class = "subtitle" (click)="goToQuestion(answer.subheader)">{{answer.subheader}}</p>
          <h5 *ngIf="answer.subheader == 'MR Levels'"> MRLs</h5>
        </div>
        <div *ngFor ="let response of answer.answers" class="answers">
                <div *ngIf="isHeader(response)">
                        {{response}}
                </div>
          <div *ngIf = "response == true && !isHeader(response)" class = "yes dashbox">
            <img class="dashpic" src="assets/imgs/check-mark-256.png">
          </div>
          <div *ngIf = "response == false" class = "no dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico">
          </div>
          <div *ngIf = "response == 'blank'" class = "blank dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden">
          </div>
          <div *ngIf = "response == null" class = "na dashbox">
            <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden;">
          </div>
        </div>
      </div>
    </div>
</div>


  <div class="mobile">
    <div class="mobile-wrapper">
      <div class="dash-toolbar">
        <ng-container *ngIf="!showAll">
          <ion-button (click)="expandAll()" color="buttonBlue">Expand All</ion-button>
        </ng-container>
        <ng-container *ngIf="showAll">
          <ion-button (click)="expandAll()" color="buttonBlue">Close All</ion-button>
        </ng-container>

        <ion-button (click)="presentLegend($event)" color="buttonBlue">Legend</ion-button>
      </div>
      <div *ngFor="let question of questionSet" class="single-thread">
        <h3>{{question.header}}<span><img src="assets/imgs/if_icon-arrow-down.png" (click)="toggleSubThread(question)" class="downArrow" />
        </span></h3>
        <div *ngIf="question.show || showAll">
          <div *ngFor="let answer of question.questions" class="questions">
            <h6>{{answer.subheader}}</h6>
            <div class="answer-row">
              <div *ngFor ="let response of answer.answers; let i = index" [attr.data-index]="i"  class="answers">
                <p class="level-num">{{i + 1}}</p>
                <div *ngIf = "response == true" class = "yes dashbox">
                  <img class="dashpic" src="assets/imgs/check-mark-256.png">
                </div>
                <div *ngIf = "response == false" class = "no dashbox">
                  <img class="dashpic" src="assets/imgs/x-mark-256.ico">
                </div>
                <div *ngIf = "response == 'blank'" class = "blank dashbox">
                  <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden">
                </div>
                <div *ngIf = "response == null" class = "na dashbox">
                  <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="links">
        <ion-button (click)="handleActionItems()" color="buttonBlue">Action Items</ion-button>
      </div>
      <div class="qspacer"></div>
    </div>
  </div>

</ion-content>
