page-criteria {
    .toolbar-class{
        header{
            color:#000;
        }
        img{
            margin-left: 10px;
            margin-top: 10px
        }
        hr {
            height: 1px !important;
            width: 98% !important;
            background:grey!important;
            display: block !important;
            font-size: 2em !important;
            visibility: visible !important;
            }
    }
    .subheader{
        display: flex;
        justify-content: space-between;
        color:white;
        margin-left:13px;
        //flex-direction: row-reverse;
    }
    .downArrow{
        height:14;
        width:14;
        cursor: pointer;
    }
    .question{

    }
    .mrl{
        margin-left:40px;
        margin-top:10px;
    }
    .subtitle{
        margin-left:20px;
        margin-top:10px;
    }
    .navigate-links {
      color: black;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .filter-toolbar {
        list-style-type: none;
        height: 70px;
        // background-color: blue;
        position: absolute;
        top: 150px;
        left: 0;
        width: 98%;
        z-index: 9999;
        padding-left: 20px;
        padding-top: 15px;

        button {
            display: inline-block;
            width: 20%;
        }

        .filter-list {
            width: 60%;
            list-style-type: none;
            display: inline-block;
            vertical-align: middle;
             p {
                display: inline;
                vertical-align: middle;
                width: 10%;
                margin-left: 10px;
            }
            select {
                width: 50%;
                vertical-align: middle;
                // margin: 0 5px;
            }


            .filter-it {
                margin: 0 5px;
                width: 10%;
                vertical-align: middle;
            }

         }

        }

        .acronymHere {
              color: gray;
        }
}
