  <div>
    <span>subthread passed: </span>
        <div class="yes dashbox">
        <img class="dashpic" src="assets/imgs/check-mark-256.png">
        </div>
      <span>subthread failed</span>
        <div class="no dashbox">
        <img class="dashpic" src="assets/imgs/x-mark-256.ico">
        </div>
      <span>subthread unanswered</span>
        <div class="na dashbox">
        <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden;">
        </div>
      <span>no subthread at this level</span>
        <div class="blank dashbox">
        <img class="dashpic" src="assets/imgs/x-mark-256.ico" style="visibility:hidden">
    </div>
